[2016-07-01 08:40] kof commented on #249
It's not that simple, I tried.

[2016-07-01 08:40] kof commented on #249
And it has nothing to do with this issue.

[2016-07-01 08:45] kof commented on #249
Once you get the PR from greenkeeper and it contains major version increminations and tests fail, you need to fix incompatibility by yourself. It's not a big help those pr, much more work is to do the rest. I prefer to just periodically run `npm outdated` when I got time to upgrade and ensure everything works.

[2016-07-01 16:12] jacksonrayhamilton commented on #255
Seems pretty good. Maybe the linting code should be in a separate file, though? (Stored in `lint.js`, alongside the plugin's `index.js`.) That way, the linting code wouldn't affect the size of the production bundle.

[2016-07-01 16:35] jacksonrayhamilton commented on #255
As for the CSS linter used on the generated CSS output: Should we pick one, or allow that to be customized, too?

It might be easier to set up just one CSS linter. Although, it might be harder for users to configure it, and also the choice would be opinionated. (I've actually only used SCSS linters, so I'm not in a position to judge.)

If the CSS linter were to be customizable, the user would have

[2016-07-02 07:15] kof commented on #255
https://github.com/stylelint/stylelint

[2016-07-05 08:45] poupougnac opened #258 "Registered functions with jss.use() are being called twice (4.0.X)"
Is this an expected behavior ? This does not happen with 3.x.x.

[code]

![screenshot at 2016-07-05 10 43 24](https://cloud.githubusercontent.com/assets/318256/16578937/8aae75e8-429d-11e6-9e03-066e9649b78b.png)

[2016-07-05 12:09] kof commented on #258
it should be a bug, just wrote a test to reproduce it, will be fixed in the evening.

[2016-07-05 14:15] iamrane opened #259 "Media queries doesn't work if you don't have non media query styling as well."
I have this jss code:
[code]

and its compiled to
[code]

How come its different class names. I guess they should be the same. The result is that the last one works, but not the first one.

[2016-07-05 20:41] kof commented on #258
fixed and published

[2016-07-05 20:41] #258 closed

[2016-07-05 21:02] #248 closed

[2016-07-05 21:40] kof commented on #259
you can't use same key in objects twice.

[2016-07-05 21:45] kof commented on #256
ok, I am working on it now, it's important to have a pre version out there for a while with deprecated array for fallbacks before we remove it.

[2016-07-05 22:39] kof commented on #256
@typical000 check out master

[2016-07-06 07:13] iamrane commented on #259
Ah now I see the problem. This is actually a bug. If I don't have any styling for content in non media query. The media query styling won't trigger.

[2016-07-06 07:15] iamrane commented on #259
## This doesn't work
[code]

### But this work

[code]

[2016-07-06 07:57] kof commented on #259
again, don't use same property twice in object literals ...

[2016-07-06 07:59] kof commented on #259
I have added a  test exactly for this case, works for me.

[2016-07-06 08:03] typical000 commented on #256
@kof looks like it's all ok. Tested on local machine - looks nice :)

[2016-07-06 08:21] typical000 commented on #225
So:
1. Fallbacks are done. Need to adapt tests of **jss-shorthand** and possibly improve alogrythm due to https://github.com/jsstyles/jss/commit/2bee87e051bf0982afd99120b2cc3ad0561cd6d0 or just retest.
2. Solve problem with using **jss-default-unit** and **jss-shorthand** together. Because default-unit grabs only props as number, in my case there are arrays or object with nested numbers. I have al

[2016-07-06 08:40] iamrane commented on #259
Hmm okey.
I don't use the same key twice. And it works when I add content:'' on content outside media query. (I used content:'' because it doesnt do anythingon non absolute elements. When I add that it works.

And it also worked before when I used css modules. But when Im switching to jss i need to add content:''.

I still think this is a bug. But I found a hack around it.

[2016-07-06 08:59] kof commented on #259
You do, by key I mean `@media only screen and (min-width: 720px)`, this media query is a key in an object literal.

[2016-07-06 09:00] kof commented on #259
Also pro tip: always look at the generated css in the head, it gives you the full picture of what's been generated.

[2016-07-06 09:05] kof commented on #225
Did a CR, see the PR. Regarding "jss-shorthand" plugin name. Any better suggestions? Because basically we are allowing a more expaneded syntax, maybe a better name would be "jss-unfold" or "jss-expand" ...

[2016-07-06 09:21] iamrane commented on #259
I looking in the genrerated head. And the key is not the same. There is MIN-width and MAX-width

[2016-07-06 09:25] kof commented on #259
Oh, I misread that min/max.

[2016-07-06 09:27] kof commented on #259
I think I understand now the issue, need to add a test.

[2016-07-06 09:27] kof commented on #259
Also probably #257 will fix it.

[2016-07-06 10:19] typical000 commented on #225
Ok, thanks. I'll see comments.
About name - you're right. I think that **jss-expand** will be better. I will rename it soon

[2016-07-06 14:23] kof commented on #259
added a test, on master it is already fixed

[2016-07-06 15:02] kof commented on #253
Waiting for a practical use case for this feature request. @b2whats

[2016-07-06 19:11] umidbekkarimov commented on #163
Maybe it's worth to follow [monorepo](https://github.com/babel/babel/blob/master/doc/design/monorepo.md) approach before starting with this ?

[2016-07-06 22:37] typical000 commented on #225
1. Based on code review, added some fixes to jss-default-unit pull request https://github.com/jsstyles/jss-default-unit/pull/6
2. Renamed and updates **jss-shorthand** plugin.
  * New name is **jss-expand** https://github.com/typical000/jss-expand
  * Added additinal tests based on new fallback feature https://github.com/jsstyles/jss/commit/2bee87e051bf0982afd99120b2cc3ad0561cd6d0

[2016-07-06 22:38] typical000 commented on #256
Think that current issue can be closed

[2016-07-07 06:39] kof commented on #256
Actually when it is released

[2016-07-07 06:54] umidbekkarimov commented on #163
@kof

So you want to test everything in node js env only?

[2016-07-07 07:00] kof commented on #163
not sure about monorepo, in our plugins based architecture it would make a wrong impression.

Why? We are testing now here in all browsers.

[2016-07-07 07:04] umidbekkarimov commented on #163
I mean, if you want to use es6 syntax, files should be transpiled to es5 somehow before passing them to browser

[2016-07-07 07:40] umidbekkarimov commented on #163
@kof

Why? Babel is also plugin based tool and still has third party plugins.

So you have `jss` and core `jss-*` plugins, lets say there are 8 of them
9 npm packages
Now you want to add repo for crosstestings
You wan't be able test third party plugins there, until they get merged to `jsstyles` namespace.

In `monorepo` case:
You have one repo
All testings in it (also crosstestings)
Still 9 npm pa

[2016-07-07 08:56] kof commented on #163
1. If we provide one repo which has everything common for all jss repositories, it could be also used by third-party projects too and would lead to a consistent code base.
1. I could think of a way to run tests from all third-party plugins. However this is a separate topic. This would be useful to see if a release is going to break something and additionally notify plugin developer.

[2016-07-07 08:58] kof commented on #163
Of course we could do exactly the same in monorepo style too. I am just not sure if there is much of a benefit.

[2016-07-07 08:59] kof commented on #163
The biggest benefit I can see is being able to make pull requests with all changes for all plugins.

[2016-07-07 19:34] ads1018 opened #260 "Is it possible to extract the generated css into a file?"

[2016-07-07 21:32] kof commented on #260
Yes, it is sheet.toString() > your-file.css

[2016-07-07 21:32] #260 closed

[2016-07-07 21:33] kof commented on #260
also see ssr example https://github.com/jsstyles/examples/tree/gh-pages/react-ssr

[2016-07-08 01:05] ads1018 commented on #260
Thanks for pointing that out! How would you go about piping sheet.toString() to a css file using webpack?

[2016-07-08 12:07] typical000 commented on #78
Created a simple example of starting screen https://dl.dropboxusercontent.com/u/7605560/jss/design.jpg
Here:
* Left menu is fixed
* Central logo will move with mouse like [here](http://fiddle.jshell.net/qGcd9/?utm_source=website&utm_medium=embed&utm_campaign=qGcd9)

Soon, when I have more free time, I'll add design of next sections :)

[2016-07-08 12:15] kof commented on #78
nice!!!

[2016-07-08 14:01] ads1018 commented on #260
Extracting the css into it's own file brings obvious performance advantages since the browser can then cache that resource. It would be great if there was a section in the docs that explained how to achieve this with something like webpack :) I'd submit a pull request but I'm not sure where to start.

[2016-07-08 16:17] kof commented on #260
This is not about jss, but about webpack, feel free to learn how to create webpack loaders and also you might be able to find one on npm.

[2016-07-09 16:30] typical000 commented on #78
Created full and more detailed design template witch demonstrates first 2 sections and something like brandbook, or... base styles of main elements (paragraphs, headings, lists, inputs, buttons, tables):

Default:
https://dl.dropboxusercontent.com/u/7605560/jss/design_full.jpg
With open single menu item (from previous picture, where menu items have arrow icon):
https://dl.dropboxusercontent.com/u/

[2016-07-09 16:45] kof commented on #78
What if we use react and jss?)))

[2016-07-09 17:25] kof commented on #78
We can use also ssr + rehydration ....

[2016-07-09 18:01] typical000 commented on #78
But we can't use ssr if we use gh-pages... :(

[2016-07-09 18:12] kof commented on #78
we can generate the html, see react-ssr example https://github.com/jsstyles/examples/tree/gh-pages/react-ssr

[2016-07-10 09:29] kof commented on #259
now jss 5 is released, let me know if you still have problems after upgrading.

[2016-07-10 09:29] #259 closed

[2016-07-10 09:29] kof commented on #256
released

[2016-07-10 09:29] #256 closed

[2016-07-10 09:30] kof commented on #249
Now version 5 is released, need to update all plugins, feel free to help

[2016-07-10 09:31] kof commented on #225
now version 5 is released and we can continue on this

[2016-07-10 09:33] kof commented on #224
I think we should auto add units to numeric values. Not touching a string gives us a way to avoid auto unit plugin. Closing it for now until this becomes a problem.

[2016-07-10 09:33] #224 closed

[2016-07-10 09:34] kof commented on #243
What should I do with this issue, did we come to a consensus?

[2016-07-10 09:35] umidbekkarimov commented on #243
Yep, you can close it

[2016-07-10 09:36] #243 closed

[2016-07-10 09:50] kof commented on #222
@jedwatson @nathanmarks

To sum up the progress about issues discussed here:

1. SSR + rehydration - done
1. React integration without a HOC - points are taken, [discussion is ongoing](https://github.com/jsstyles/react-jss/issues/31) lots of ideas, we will work something out. Just need some time.
1. Render-time styles rendering ala Aphrodite has one major issue - [computed styles](https://github.c

[2016-07-10 09:50] #222 closed

[2016-07-12 11:45] bassment opened #261 "getRule when using rule with nested properties"
**First of all thanks for great library!**

**_But I have little problem when I have such code:_**

I'm using 'jss-nested' npm module:

`const jssNested = require('jss-nested').default;`

`jss.use(jssNested());`

`const sheet = jss.createStyleSheet({
  link: {
        '& a': {
            color: styles.link.color
        }
    }
}, {link: true})`

**_And i'm trying to get this nested 'a' tag rule,

[2016-07-12 11:52] bassment opened #262 "How can I set !important through JavascriptAPI ?"
`const value = 'green'`

`sheet.getRule('a').prop('color', value + ' !important');`

**This code does not set any new value. does your library support this?**

[2016-07-12 12:37] kof commented on #261
It's nice that you assumed `sheet.getRule('link a')` would work, but it doesn't, also not documented this way.

Can you use  a regular rule instead?

[2016-07-12 12:40] kof commented on #262
this should work if `link` option is set true and rule "a" does exist.

[2016-07-12 14:14] DeWenS opened #263 "Do you have some caching/matching inside?"
Inside React i've created 2 components with styles. Each one have same classnames:
component 1:
[code]

component 2:
[code]

and they both will have same class and use only one of the '@media' (which were earlier)

[2016-07-12 14:47] bassment commented on #261
Thanks! I setup it with regular rule and it works like I've expected.
**_I used it like this:_**
`sheet = jss.createStyleSheet(links, {link: true, named: false}).attach();`
`self.sheet.addRule('.link a:hover', linkStyles.hover);`
**_And setting new color:_**
`self.sheet.getRule('.link a:hover').prop('color', 'green')`

[2016-07-12 15:13] bassment commented on #262
Yeah, works fine, if this 2 conditions are present. Thanks!

[2016-07-12 15:55] kof commented on #263
nope, they will have separate style elements and separate rules.

[2016-07-12 16:08] kof commented on #261
By regular rule I ment a rule without nesting, sorry, but this is also a way. However you are using a global class name and you loose the advantage of namespacing.

[2016-07-12 16:08] #261 closed

[2016-07-12 16:09] #262 closed

[2016-07-12 16:10] #263 closed

[2016-07-12 22:59] kof opened #264 "Alternative syntax for space and comma separated values"
In order to enable effective default unit insertion for shorthand notation, a non-string based way of space and comma separated css values in js is needed.

[code]

compiles to

[code]

[code]

compiles to

[code]

[code]

compiles to

[code]

[2016-07-12 22:59] kof commented on #264
cc @typical000

[2016-07-13 00:00] kof commented on #264
released

[2016-07-13 00:00] #264 closed

[2016-07-13 00:38] kof opened #265 "[jss-compose] Plugin for classes composition"
Original issue #247

In order to use a pure CSS framework together with JSS, we can introduce  a plugin, which will compose the selector similar to [css-modules compose](https://github.com/css-modules/css-modules#composition)

[code]

Compiles to

[code]

However when you use it (React example):

[code]

It renders to

[code]

[2016-07-13 00:39] kof commented on #247
I think we can introduce jss-compose #265

[2016-07-13 00:39] #247 closed

[2016-07-13 00:55] kof commented on #214
Lets use "@button" ... it is basically like $button, but more css like.

[2016-07-13 01:03] kof commented on #180
th

[2016-07-13 01:03] #180 closed

[2016-07-13 01:05] kof commented on #84
I think we have got enough documentation on @media and @keyframes, external css libs can be handled this way #265

[2016-07-13 01:05] #84 closed

[2016-07-13 05:03] fgnass commented on #214
Isn't that a problem? I mean how shall we disambiguate this from `"@media"`, `"@import"`, `"@keyframes"` or any possible future addition to the CSS spec?

[2016-07-13 06:32] bassment opened #266 "Add 'removeRule' method to JavascriptAPI"
Can I remove rule programmatically, if I don't need it anymore and don't want to keep unused style classes in my page's stylesheet?

I added the rule previously with sheet.addRule API. Whould be nice to see removeRule.
Do you support the removal?

[2016-07-13 06:44] umidbekkarimov commented on #214
@kof 👍

@fgnass

 it's easy to validate like https://github.com/umidbekkarimov/jss-responsive/blob/master/src/jss-responsive.js#L95 and throw reserved variable name exception.

Like in js you can not define variable `delete`, `package` and else

[2016-07-13 07:06] kof commented on #214
@fgnass I think we need only rules of rule.type === 'regular', right?

[2016-07-13 07:06] fgnass commented on #214
Imagine I created a media object, call my local class "media" and then later on want to reference it in a nested rule. I'd argue that the error message about using a reserved name would be super confusing, highly inconvenient and totally unexpected.

If I as developer for example spotted `@element` somewhere in a JSS context, I'd assume it's about element queries, not an alias for `.button--jss-0`

[2016-07-13 07:12] kof opened #267 "Element queries."
Let's discuss how element queries could be implemented.

[2016-07-13 07:12] fgnass commented on #214
@kof yes, I'd say so

[2016-07-13 07:12] kof commented on #214
Good point about media query, lets see how it could be implemented in the future to make sure it won't be a problem - #267

[2016-07-13 07:20] kof commented on #266
You are the first person who asks for that feature. I need to know the use case behind this request.

[2016-07-13 07:28] kof commented on #253
Closing this for now, @b2whats please reopen it once you have more input.

[2016-07-13 07:28] #253 closed

[2016-07-13 07:29] kof commented on #225
@typical000 do you want to host jss-expand under jsstyles organization?

[2016-07-13 08:24] typical000 commented on #225
@kof Yes. Why not. But I think it's better to add after:
1. https://github.com/jsstyles/jss-default-unit/pull/6 fixes to PR and merging it to master
2. Reorganizing code and removing now inutile functionality from **jss-expand** due to 5.1.0 version release

[2016-07-14 05:59] bassment commented on #266
In my use case I created a list: `const linkList = ['black link`, green link', etc.] which change the class of the target link after I hover on one of list items.
I add jss rule like: `sheet.addRule('.link_01 a:hover', {color: 'red', background: 'blue})` if I hover on a first list item and so on.
So when I hover on another item I need to remove previous rule and add a new rule. If i do not do this

[2016-07-14 06:24] bassment opened #268 "Implement method to add object with styles to rule"
For now I can only `sheet.getRule('a').prop('color', 'green')`
But in my case I have an object with 2 properties that I need to add.
So I need to:
[code]
Here `linkStyles.default` is an object with styles like:
`{ color: 'green',backgroundColor: 'red'}`

Would be nice to see for example `.set `method so I can do like this:

[code]

[2016-07-14 06:24] kof commented on #266
This seems to be a use case for inline styles.

[2016-07-14 06:25] kof commented on #266
Also if colors are static and finite, you can create styles with JSS for them and switch classes.

Use JSS where you would use CSS back in the days.

[2016-07-14 06:28] kof commented on #268
Why don't you use addRule in this case?

[2016-07-14 06:30] kof commented on #268
sheet.addRule('a', {color: 'green', background: 'red'})

[2016-07-14 06:30] #268 closed

[2016-07-14 08:36] bassment commented on #268
Thanks! It was not obvious for me at first. that it will just override existing rule. I changed my code to use addRule and it looks more cleaner now. Just one question, will it create new hash for an 'a' rule when I override the styles with addRule method?

[2016-07-14 09:38] bassment commented on #266
I used your library because I can add and change properties to the class dynamically. My previous use case has limitation that I can't add styles to the link inline. So I found your library to add dynamic styles to the class directly using rules. I just was wondering when looking on API, that add style to the class(add rule) exist while remove does not exist.

Anyway, it is not a huge pitfall in m

[2016-07-14 11:35] kof commented on #268
not sure what you mean by your last question.

[2016-07-14 11:36] kof commented on #266
As soon as I hear a good use cse I will add it) Adding anything to the library without real life use cases behind it is a bad praxis.

[2016-07-14 15:09] bassment commented on #268
[code]
I tested myself, was wondering if murmurhash changes hash when using addRule instead of changing props directly.

Nevermind ;)

[2016-07-14 15:50] kof commented on #268
I think current logic leads to an overwrite of the first rule and class name is taken from the map. Not sure though because this case is not covered by tests.

[2016-07-14 15:54] kof commented on #225
What do you plan to do in jss-expand?

[2016-07-14 16:20] typical000 commented on #225
@kof https://github.com/typical000/jss-expand/issues/3 this.

[2016-07-15 23:05] yury-dymov commented on #214
I extended implementation of jss-local-refs: https://github.com/yury-dymov/jss-local-refs

Waiting PRs to be merged
1) Implemented integration with jssNested plugin, more details here: https://github.com/fgnass/jss-local-refs/pull/1
2) Changed exception to warning in case class is missing. We still would like to support usage of global classes like 'active' for example.

The thing, which bothers m

[2016-07-15 23:50] yury-dymov commented on #214
update: jss-refs exists already, I reinvented the wheel :)

[2016-07-16 10:23] umidbekkarimov opened #269 "CSS to JSS online tool"
Similar to [htmltojsx](http://magic.reactjs.net/htmltojsx.htm)

[2016-07-16 10:27] kof commented on #269
I think normal CSS doesn't compiles well to  jss with namespaces and high level of code reuse. It can be easily compiled only to global jss with `named: false` option and we don't want to encourage that, right?

[2016-07-16 10:32] kof commented on #269
So this idea makes sense only if we find ways to convert css to a high quality jss, [jss cli](https://github.com/jsstyles/cli) is a good place for that.

[2016-07-16 10:34] kof commented on #269
We may consider to compile at least parts that work, not a fully functional 1:1 compilation.

[2016-07-16 10:43] umidbekkarimov commented on #269
True, but main reason of this tool is to help with migrating from css to jss faster.

Like `htmltojsx` will help you to create plain component that you can transpile and run in your browser, after that you have to make lot of changes to make your component work.

So I think it's enough to convert to `jss` with `named: false` to just make it work, and after that developers will have to make all sel

[2016-07-16 10:47] umidbekkarimov commented on #269
Tried `jss-cli`, and it gave me all I wanted!

So I think that it's enough to make it as online tool

[2016-07-16 10:47] kof commented on #166
Also it makes sense to add every converter to the [repl](https://jsstyles.github.io/repl/)

[2016-07-16 10:48] kof commented on #269
You might be right, a fat warning to not to use it as-is would be probably enough, also a good place for this would be probably to add it to the current [repl](https://jsstyles.github.io/repl/) and here is the issue #166

[2016-07-16 10:48] #269 closed

[2016-07-16 10:52] kof opened #270 "[repl] Enable to use any converter supported by jss cli"
- [ ] Implement #166
- [ ] Add an interface to select source and target language
- [ ] use jss cli converter functions
- [ ] support
  - [ ] css > jss
  - [ ] cssx > jss
  - [ ] less > jss
  - [ ] stylus > jss
  - [ ] sass > jss

[2016-07-16 10:53] kof commented on #223
tbc in #270

[2016-07-16 10:54] kof commented on #212
tbc in #270

[2016-07-16 10:54] #212 closed

[2016-07-16 10:55] kof commented on #269
Also created a new task for repl #270

[2016-07-16 10:57] kof commented on #269
Also the reason you didn't find the cli tool is probably it somehow tropped out of documentation.

[2016-07-16 11:02] kof commented on #269
updated readme.md

[2016-07-16 17:07] tizmagik commented on #267
There's https://github.com/joeybaker/react-element-query -- the syntax of which is awkward, but may be a source of inspiration?

Also, I'm not sure if element query support makes sense to support in JSS? Maybe as a plugin or something, so it's an opt-in kind of thing. My 2 cents.

[2016-07-16 17:24] jeffmcmahan opened #271 "[jss-default-unit] Unit is inflexible."
`default-unit` assigns `px` as the default unit for `animation-duration` (should be `ms`):

[code]

Becomes:
[code]

I looked over the source and tests. The plugin accepts an object parameter specifying which unit will serve as the default unit, and *that* unit is used for everything. If we pass `{unit: 'ms'}`, it would fix the case given above, but would also cause this: `height: 100` -> `height:

[2016-07-16 17:27] kof commented on #271
It's a bug, we are missing this property in this list https://github.com/jsstyles/jss-default-unit/blob/master/src/numericProps.js

Initial idea was to just have one default value, because everything else is a very rare use case ....

[2016-07-16 17:29] kof commented on #271
If we start maintaining different defaults for sizes and times etc the list might become pretty big. Not sure it's worth it.

[2016-07-16 17:31] kof commented on #271
Lets fix the bug for now, we can open an  enhancement issue for multiple defaults. I want to see lots of people voting for this enhancement before we add it.

[2016-07-16 17:31] kof commented on #271
Will add this prop in a bit to the list.

[2016-07-16 17:40] kof commented on #271
released

[2016-07-16 17:40] #271 closed

[2016-07-16 22:13] jeffmcmahan opened #272 "[jss-default-unit] Need configurable, per-property default units"
I think the plugin would be better if it could be used as follows:

[code]

I'd like it to be the case that whatever is not specified by the user's conf object falls back to a sensible default unit for that property. The default for `width` would be `px`, and for `animationDuration`, it'd be `ms`, for example.

<hr>

**Implementation Proposal**

I'm posting this in the hope that feedback may help

[2016-07-16 22:21] jeffmcmahan commented on #271
Just opened an issue (looking for an enhancement label, as you suggested): https://github.com/jsstyles/jss/issues/272

[2016-07-17 22:54] kof commented on #272
Oh interesting!

[2016-07-20 01:33] kof commented on #267
Just found out that element queries are not part of any standard yet. Puhh....

[2016-07-20 01:38] #267 closed

[2016-07-20 01:38] kof commented on #267
I don't see what we could do here ...

[2016-07-20 01:42] kof commented on #214
ok @fgnass lets go for $ and finally make the final effort in this long issue!

[2016-07-20 15:52] igorpreston opened #273 "Dynamic values for css properties in React"
Hello,

I am working on the project that requires to define css property values based on props that React component receives from API.

Example
`const styles = {
 widget: { width: props.width } }`

Previously it was accomplished using const styles defined inside render() method, where React props are accessible.

However, right now I should use useSheet react decorator to define it out of the scop

[2016-07-20 19:28] kof commented on #273
One way is continue using inline styles for dynamic values.

[2016-07-21 08:53] #273 closed

[2016-07-21 20:04] muratgozel opened #274 "Not Working with postcss-js Anymore"
I am using a small pre-compile script to process jss stylesheets with postcss-js plugins before building the app. Output of the compiling is autoprefixed jss stylesheets. As of version 5, i lost this functionality. I only use postcss autoprefixer plugin right know but it would be nice to see jss working fully compatible with postcss plugins. Especially autoprefixer.

This is the salt jss styleshee

[2016-07-21 20:34] kof commented on #274
Please create an issue at postcss-js, see the changelog, major versions has been released with breaking changes.

[2016-07-21 20:34] #274 closed

[2016-07-26 00:03] kof commented on #272
Released, thanks a lot @jeffmcmahan for making jss better!

[2016-07-26 00:03] #272 closed

[2016-07-26 12:51] bassment commented on #266
I have a real pain without deletion functionality.
Will try to explaine my case better:
- User of the site can customize the styles of the element by himself, in this case inline css styles are set to the element he customly changed.
-  There are also global styles for these elements, which are set with classes.
- Right now i'm working on a feature where the user can change all the elements global

[2016-07-27 08:40] kof commented on #266
implemented a deleteRule method, published, feel free to reopen if it doesn't work.

[2016-07-27 08:40] #266 closed

[2016-07-27 08:45] kof commented on #266
https://github.com/jsstyles/jss/blob/master/docs/js-api.md#delete-a-rule-from-an-existing-style-sheet

[2016-07-28 15:50] techyrajeev opened #275 "Styles generated in camel case"
I had tried to use following in a react component. I see the styles are getting generated inside `<style>` tag but just this
[code]

Notice the camel case

My code is below
[code]

[2016-07-28 15:55] kof commented on #275
you didn't setup plugins for camel case, nesting and  default unit https://github.com/cssinjs/jss/blob/master/docs/plugins.md

[2016-07-28 15:55] #275 closed

[2016-07-28 18:00] techyrajeev opened #276 "Is there any way I can use sass features with jss?"
I am trying to generate styles dynamically based on color provided.

[code]

I am getting error as darken is not defined. How can I use sass features with jss ?
Please guide.
 Thanks

[2016-07-28 19:53] kof commented on #276
You can use this library for color conversions. It is unrelated to jss. https://www.npmjs.com/package/color

[2016-07-28 19:53] #276 closed

[2016-07-29 05:06] bassment commented on #266
Thanks for implementing! Have cleaned my stylesheets successfully, didn't spot any bugs yet.

[2016-07-29 14:50] techyrajeev opened #277 "[jss-vendor-prefixer] Unmet peer dependency"
I got this warning while installing  jss-vendor-prefixer, although I have installed jss@latest version

[code]

[2016-07-29 15:43] kof commented on #277
not all peerDeps are updated yet.

[2016-07-29 15:43] kof commented on #277
in plugins packages.

[2016-07-29 15:53] kof commented on #277
duplicate #249

[2016-07-29 15:53] #277 closed

[2016-07-29 22:43] techyrajeev commented on #277
I think problem still persists with other plugins

npm WARN jss-camel-case@1.1.0 requires a peer of jss@>= 3.0.0 < 4.0.0 but none was installed.
npm WARN jss-extend@1.2.1 requires a peer of jss@>=3.1.1 < 4.0.0 but none was installed.
npm WARN jss-nested@1.0.3 requires a peer of jss@>=3.0.0 < 4.0.0 but none was installed.

[2016-07-30 06:09] tizmagik opened #278 "Todo app example"
Here's a TODO app example using JSS. Not sure if this is helpful or if you'd like to include it in examples doc or whatever, but I thought I'd bring it to your attention. :)

https://github.com/tizmagik/react-todomvc-jss

[2016-07-30 08:05] kof commented on #277
yes I know, you can fix it too.

[2016-07-30 08:35] kof commented on #278
Nice, has this been submitted to todomvc repository?

[2016-07-30 08:37] kof commented on #278
https://github.com/tastejs/todomvc

[2016-07-30 09:46] kof commented on #278
Added a link http://cssinjs.github.io/examples/index.html

[2016-07-30 09:47] kof commented on #278
Would be nice to have  an online version of it, for e.g. generate everything in the gh-pages branch ...

[2016-07-30 09:56] #278 closed

[2016-07-31 02:57] kof commented on #214
@fgnass I had a sleepless night and decided to implement the last suggestion, basically I just ported your https://github.com/fgnass/jss-local-refs.

Thanks a lot for helping out! I will close this issue as it is released, please let me know if there are any issues with that.

[2016-07-31 02:57] #214 closed

[2016-07-31 09:56] kof opened #279 "[jss-vendor-prefixer] make it work in SSR"
I think the best way would be to use autoprefixer serverside.  Basically a user can do it already by passing the css generated by jss to autoprefixer, but this requires additional build step and setup. Ideally jss-vendor-prefixer just works on the server without additional setup from user.

[2016-07-31 18:11] typical000 commented on #279
Maybe, as a solution - create a flag when initialize **jss-vendor-prefixer** that describes 2 modes:
1. SSR (server-side rendering) - add all prefixes for all supported browsers. It will work like postcss-autoprefixes. But, in this case, we need additional variable on initialization - supported browsers (like in postcss-autoprefixes - object with versions of browsers)
3. CSR (client-side rendering

[2016-07-31 18:13] typical000 commented on #270
Do you mean just SASS or SASS + SCSS ?

[2016-07-31 20:37] kof commented on #279
The idea regarding SSR is to just use the original postcss autoprefixer.

[2016-07-31 20:38] kof commented on #270
Everything we can make work and people need. So if we can do it for SCSS, why not, just didn't dig deep enough.

[2016-08-01 09:33] techyrajeev commented on #277
I have some confusion here. I need these packages to be installed on server side via post install script. How can I then update the peer dependencies?

[2016-08-01 09:38] kof commented on #277
How is a warning a problem ...?

[2016-08-01 09:43] techyrajeev commented on #277
I am not able to push to heroku. It rejects the build.

[2016-08-01 09:48] kof commented on #277
Why, because of warnings?

[2016-08-01 11:07] techyrajeev commented on #277
remote:        npm ERR! node v4.4.5
remote:        npm ERR! npm  v2.15.5
remote:        npm ERR! code EPEERINVALID
remote:
remote:        npm ERR! peerinvalid The package jss@5.2.0 does not satisfy its siblings' peerDependencies requirements!
remote:        npm ERR! peerinvalid Peer jss-camel-case@1.1.0 wants jss@>= 3.0.0 < 4.0.0
remote:        npm ERR! peerinvalid Peer jss-default-unit@4.0.0 want

[2016-08-01 11:16] kof commented on #277
Oh errors is bad, this needs to be fixded in the plugins asap.

[2016-08-01 11:17] kof commented on #277
Will update the plugins in a few hours.

[2016-08-01 12:37] techyrajeev commented on #277
Thanks a lot @kof

[2016-08-01 13:12] kof commented on #277
now you need to run `npm outdated` and update all jss related dependencies

[2016-08-01 14:07] kof commented on #249
should be no warnings any more, please reopen if there are still any.

[2016-08-01 14:07] #249 closed

[2016-08-01 14:10] techyrajeev commented on #277
Yes did that and installed the latest ones. Now its working :+1:

[2016-08-01 14:22] kof commented on #277
👍

[2016-08-04 15:24] amio opened #280 "[jss-cli] Output a standalone "jss sheet" module?"
I don't know if I can generate a standalone "jss sheet" module, which doesn't depend on the `jss` module, so I can bundle it within my component for a minimal filesize.

In other words, it would be a cjs/es6 module(currently `jss-cli` output format) plus some basic api (`.classes`, `.attach()`, `.detach()`), so I imagine using it like so:

[code]

then in the `component.js`:
[code]

Or is there al

[2016-08-04 17:10] kof commented on #280
So you basically want to inline jss library with your component?

[2016-08-05 01:53] amio commented on #280
Yes! Only inline these codes used in runtime, without compiler things.

[2016-08-05 01:59] kof commented on #280
JSS library is needed for rendering, I don't recommend inlining it into every component, this is a huge overhead in download size. If you want something minimal to render styles identical to css, you may want to use [jss-lite](https://github.com/tomekwi/jss-lite)

[2016-08-05 01:59] #280 closed

[2016-08-05 02:05] kof commented on #279
A good alternative to autoprefixer, may be not as feature complete - [inline-style-prefixer](https://github.com/rofrischmann/inline-style-prefixer)

[2016-08-05 02:33] amio commented on #280
Thanks @kof

PS, an explanation to my use case:
I'm rewriting a small lib which is just a single component([Console.js](https://github.com/amio/console.js)), and require just one stylesheet. In this case I think the runtime code would be much smaller than full `jss` package to be bundled.

[2016-08-06 23:26] kof commented on #239
done

[2016-08-06 23:26] #239 closed

[2016-08-07 11:06] typical000 opened #281 "[jss-camel-case] Integration with jss-expand plugin"
Need to update plugin with recursive tree traversing like it was done in **jss-default-unit** - cssinjs/jss-default-unit#6
More expanded description was added in issue from **jss-expand** repo:
https://github.com/typical000/jss-expand/issues/5

[2016-08-07 11:11] kof commented on #281
yep

[2016-08-07 11:12] kof commented on #281
which props from jss-expand require camelization?

[2016-08-07 11:20] typical000 commented on #281
You can find them here: https://github.com/typical000/jss-expand/blob/master/src/props.js
1. timing-function
2. iteration-count
3. fill-mode
4. play-state

But, now, I thinked more and - if I'll add camelCased options to my config such:
[code]
there is no need to update **jss-camel-case** and make it less performant. But this solution from one point of view looks like hardcode :)

[2016-08-07 11:23] kof commented on #281
Good idea, I think that's ok if we know exactly all cases.

[2016-08-07 11:30] typical000 commented on #281
So, we can close this. Further updates will be done in **jss-expand** repo

[2016-08-07 11:30] #281 closed

[2016-08-07 13:41] typical000 opened #282 "[jss-hex][idea] Allow to write colors without strings"
Idea was came to me from recent experience with three.js where one of methods to define colors was hex format like: `new THREE.Color(0xd4d4d5)`.
So, we can try to write a plugin that enables for us writing colors in HEX format like:
[code]
Also, we can write in terms of plugin a punch of color functions like (I'm looking SASS functions as reference: http://sass-lang.com/documentation/Sass/Script/F

[2016-08-07 20:37] kof commented on #282
1. What is the benefit of using hex colors?
2. I use this tool for colors conversion https://github.com/qix-/color

[2016-08-09 20:09] tusharmath opened #283 "Extend across stylesheets —"
[code]

Current
[code]

Expected

[code]

How can I solve this problem? Is there a way around it?

[2016-08-09 20:12] kof commented on #283
You can do that by extending plain objects.

[code]

[2016-08-09 20:12] #283 closed

[2016-08-10 11:34] typical000 commented on #282
1. In most of cases colors are set in rgb format, without opacity. Just for writing colors without strings, and don't use side plugins\tools
2. Interesting... And looks good. Need to try. Maybe, if it's so easy and convenient in use - add somewhere link to this tool as "reccomended"?

[2016-08-10 12:47] kof commented on #282
I don't see any generic way to detect if a number is in hex. Writing a plugin which knows all specific color properties and converts hex number to hex string is a bit too much overhead for a feature that is mostly just for fun.

Yes we should recommend this color util somewhere.

[2016-08-10 12:48] kof commented on #282
Maybe just use it in the example ... and additionally link it somewhere in the JSON dsl.

[2016-08-10 12:58] kof commented on #282
I think we can close this issue for now.

[2016-08-10 12:58] #282 closed

[2016-08-10 14:02] techniq opened #284 "Media query not working as expect from example"
I'm attempting to setup a [Codepen](http://codepen.io/techniq/pen/PzXzRL?editors=0010) to get a feel for JSS and I'm having trouble running the [example](https://github.com/cssinjs/jss#example) in the README.  Currently the media query doesn't appear to get applied until the button is hovered, although when I paste the following from the example into the [repl](https://cssinjs.github.io/repl/) it

[2016-08-10 14:15] kof commented on #284
The first thing is weird, the second is a separate feature request #246

[2016-08-10 14:20] kof commented on #284
JSS does not do any magic there, it should be a pure css issue.

[2016-08-10 14:25] kof commented on #284
Ok this is how min-width works in CSS. Not a jss issue. Will change the example to not confuse people.

[2016-08-10 14:25] #284 closed

[2016-08-10 14:34] techniq commented on #284
Changing to `width` gave me my expected result, and thanks for the link to the jss-nested issue/request.

On another related note, I kind of expected `ctaButton` to inherit the media query of `button` via the `extend: 'button'`.  Is this by design to not extend, and if the nested media query is supported in #246, would it then?

[2016-08-10 14:37] kof commented on #284
It extends only specific rules, @media is a separate rule one would need to extend explicitly. Once @media is possible inside of rules, it should be extended, will add a note to make sure a test for this will be added.

[2016-08-10 14:58] kof commented on #279
As we support ie10+ we may not need all features of postcss autoprefixer so  [inline-style-prefixer](https://github.com/rofrischmann/inline-style-prefixer) may be a good alternative cc @rofrischmann

[2016-08-10 15:01] rofrischmann commented on #279
(y) I will soon implement the Autoprefixer test suite (at least all relevant browser versions), but sadly I spill beer over my Macbook. It's still working, but I will wait for some days to let it dry completely. Feel free to add feature requests or bugs if the prefixer is missing something.

[2016-08-10 15:03] kof commented on #279
We need a platform that buys open source contributors a new notebook once they loos theirs!!!

[2016-08-10 15:07] rofrischmann commented on #279
Big companies could donate old notebooks :P But as far as I know a lot are already doing so, e.g. to open coding schools for kids, homeless people, etc.

But well, it's still working, so no worries haha :D It even is quite relaxing to have some days forced **not** to code. I'll ping you on Gitter as soon as I am back^^

[2016-08-11 17:07] markwain commented on #209
@kof So what about the jss-important plugin?

[2016-08-11 17:09] kof commented on #209
Haha, pretty much offtopic discussion here. I didn't create the plugin yet, if you want to do that, I can assist.

[2016-08-15 15:50] cvle opened #285 "[jss-nested] Unexpected order in generated style"
This stylesheet generates classes in wrong order:

    const stylesheet = {
      button: {
        "&:hover": {
          background: "rgba(255, 255, 255, 0.1)",
        },
        background: "none",
      },
      // This disables hover on mobile devices.
      "@media (hover:none)": {
        button: {
          "&:hover": {
            background: "none",
          },
        },
      },

[2016-08-15 15:58] kof commented on #285
Yeah, the problem is that plugins are processed in a separate loop since c40c616fc0b5c68eabb1e34f842229a40f674c08

[2016-08-15 15:59] kof commented on #285
This has been done to allow referencing rules from nested rules.

[2016-08-15 16:01] kof commented on #285
Now the problem is that we need to put nested rules in the old order, which is actually not that easy ... it requires either to sort the rules map on every nested rule or to introduce additional mechanism for saving the order of rules and using this order when generating css.

[2016-08-15 16:01] cvle commented on #285
I removed the workaround because it's not working, still trying to find a way to get around this.

[2016-08-15 16:05] kof commented on #285
adding an !important would work ...

[2016-08-15 16:09] cvle commented on #285
Confirmed. Pretty ugly but works for me, at least for now. Adding a workaround above.

[2016-08-16 10:17] vass-david opened #286 "[jss-camel-case] Add links to plugins wiki on all plugin readmes"
My code:

[code]

Output:
[code]

When I comment jss-camel-case, the output is correct:
[code]

My jss config:
[code]

However it works when classname is not in camelCase.

[2016-08-16 10:26] kof commented on #286
Thanks, sounds like a but, will check it soon.

[2016-08-17 21:25] alebiavati commented on #246
Hi, I would like to try implementing this. Could you give me some pointers to get started?

[2016-08-18 06:31] kof commented on #246
Allright, create a repo, take  jss-nested as a template. Let me know on gitter if you need help.

[2016-08-18 07:35] kof opened #287 "Ensure rendering sheets at the beginning"
Ensure it is always rendered before any user sheets in order to allow them have a higher specificity.

[2016-08-18 09:58] kof commented on #246
Hmm, maybe it could be even part of jss-nested instead of a separate plugin.

[2016-08-18 09:58] kof commented on #246
In this case you may want to fork jss-nested and try to add this functionality.

[2016-08-18 10:00] kof commented on #246
Let me know if this requires any changes in core.

[2016-08-19 22:32] nathanmarks opened #290 "Add sheet rendering priority feature"
@kof quoting your reply from the stylishly issue:

Do you have an implementation in mind already?

I know previously you weren't 100% certain about adding this feature, but given what you said in the `stylishly` thread I wanted to start up a discussion about it here as it is a critical feature for us. Otherwise I will have to create + manage DOM nodes myself to pass to `jss` to use.

[2016-08-20 04:49] cvle commented on #290
Same here, I could kick out all the custom renderer code from my [theming prototype](https://github.com/wikiwi/react-jss-theme), when we have this in core.

All I need is to associate a `priority` number to the stylesheets, e.g. as an additional option. The renderer should mount stylesheets with lower priorities before stylesheets with higher priorities. If a new stylesheet has the same priority a

[2016-08-20 06:29] vass-david commented on #286
Found problem and solution. If you configure jss like this:
[code]
the input to jss-camel-case is pure unprocessed javascript object and jss-camel-case thinks that every property of nested object is css property. However if you put it to the end like this:
[code]
it works! And there is a question, is it a bug? IMHO it should be expected. I think that only "solution" would be to write a warning to

[2016-08-20 21:46] nathanmarks commented on #279
@kof

Are you still thinking of using `inline-style-prefixer`? This issue definitely a feature that `material-ui` would need to have a good solution for.

[2016-08-21 06:42] umidbekkarimov commented on #279
So as i get, there are two solutions for it:
1. On server side build stylesheet for all browsers and rewrite on client side for current browser
2. On server side build for current browser and do same on client side
___
Problem with first approach:
Currently class names get names from stylesheet hash, so if  stylesheets would be different on client and server side we will get errors from react base

[2016-08-21 08:00] tusharmath opened #292 "compatibility with hyperscript on server"
[Hyperscript]() depends on [html-element](https://github.com/1N50MN14/html-element/blob/master/index.js#L1) which internally setups a mock `document` object on the `global` object when run in node.js env.

This causes the [findRenderer](https://github.com/cssinjs/jss/blob/master/src/findRenderer.js#L15) to bailout because it depends on the `document` object.

[code]

I guess the better way to do t

[2016-08-21 16:27] nathanmarks commented on #287
@kof Do you just want sheets to always be inserted before any existing style elements in head? Or do you just want the first to be inserted before any existing sheets and then the following sheets inserted after that one?

[2016-08-21 16:35] nathanmarks commented on #279
@umidbekkarimov

Best bet for server side compatibility with changing styles is to use the factory method instead of using `jss` as a singleton.

I'm developing a quick prototype solution using `jss` right now for another project, and I've abstracted away all of the `jss` methods, even `createStyleSheet`.

[2016-08-21 17:04] nathanmarks commented on #290
@kof

Since the `DomRenderer` is designed to have a new instance per `StyleSheet`, I see 2 options here for getting the insertion point in `attach()` for new sheets:

1) Use the sheets in `options.jss.sheets`
2) Query the DOM in every `attach()` to get the style elements (assuming the priority would also be put in a `data-xxx` attribute)

[2016-08-21 17:36] nathanmarks opened #293 "Reset in integration testing should clear styles"
Right now, tests end up polluting the document head with style tags and they are not cleaned up between tests.

I added code to `reset()` to remove the `jss` stylesheets, however, this ends up breaking a bunch of tests because they are expecting the DOM elements to exist despite the fact that `reset()` is being called `afterEach()` test.

Performing `reset()` `afterEach()` test is not ideal becaus

[2016-08-21 17:45] nathanmarks commented on #290
@cvle I made a rough priority feature: https://github.com/nathanmarks/jss/blob/priority/tests/integration/priority.js

[2016-08-21 19:20] umidbekkarimov commented on #279
@nathanmarks agree, I'm thinking about rewriting useSheet method from react-jss to work with react context and create JssProvider component to provide custom jss instance.

@kof what are you think about it?

------

Also I have some ideas for attaching jss sheets on server side based on https://github.com/nfl/react-helmet

[2016-08-21 19:46] kof commented on #279
@nathanmarks have you looked into inline-style-prefixer, do you see any issues there?

[2016-08-21 19:51] kof commented on #290
@nathanmarks what about this:

1. by default, all sheets have same priority, it is an option and can be passed
1. first style tag is rendered before all other style/link tags in the head
1. all next style tags are rendered after already rendered style tags in the order they are requested
1. if they have priority defined, renderer need to consider priority and move sheets in the dom as they come

A

[2016-08-21 19:53] kof commented on #293
I thought all tests which call .attach() also call .detach() ... need to go through them and find the missing once.

[2016-08-21 20:48] kof commented on #292
html-element creates a wrong document object and breaks anything that detects dom and tries to use it. I don't see jss is doing anything wrong here ....

[2016-08-21 20:49] kof commented on #292
html-element was created to make hyperscript work, not any dom dependent code.

[2016-08-21 20:51] kof commented on #292
Also you can explicitly pass the VirtualRenderer backend to avoid any DOM related methods.

[2016-08-21 20:52] kof commented on #292
JSS is not detecting node, it is detecting dom. Potentially jss could run on any serverside platform. It doesn't need to have node specific logic.

[2016-08-21 20:53] kof commented on #292
Closing this for now, let me know if you could achieve what you wanted.

[2016-08-21 21:13] nathanmarks commented on #290
@kof That should do the trick 👍

Quick question: what will be the allowed input for priority?

[2016-08-21 21:14] kof commented on #290
You mean which option name would we want to use? e.g. "index", or "priority" or "order"

[2016-08-21 21:18] nathanmarks commented on #279
@kof the main downside is that it's a fairly large lib if you use the dynamic version. It would be good for users if they could decide whether to use the dynamic or static version.

[2016-08-21 21:18] nathanmarks commented on #290
@kof As in, any number above 0?

[2016-08-21 21:19] kof commented on #286
Right, this is actually documented https://github.com/cssinjs/jss/blob/master/docs/plugins.md#order-does-matter-here-is-the-right-one

Lets link all plugins to this page. @vass-david can you send me pr's in all plugins repositories?

[2016-08-21 21:21] kof commented on #279
I only consider using it for server-side, where size doesn't matter that much. Dynamic version will be used on the client as it is now.

[2016-08-21 21:22] kof commented on #290
I would say it can be even any number, similar to z-index ...

[2016-08-21 21:25] nathanmarks commented on #290
@kof Yeah, that works great 👍

I have tested using some code with this feature in `jss`. It's extremely powerful and makes it very easy to flatten selectors that were previously descendent or chained selectors.

[2016-08-21 21:32] nathanmarks commented on #279
Would be good to test both libraries against each other for browsers to make sure output is consistent.

[2016-08-21 21:44] nathanmarks opened #294 "jss.removeStyleSheet method"
It would be useful to have a `removeStyleSheet` method that accepted a reference to a `StyleSheet` object did the following:

1) Detach stylesheet from the DOM
2) Remove from sheet registry

Right now I have to manually splice the registry array to remove the sheet reference from the registry. If it is part of the public API it won't be prone to breaking should `SheetRegistry` internals change.

[2016-08-21 22:02] kof commented on #279
Yep, it should be done at some point, because otherwise someone will wonder why ssr page is displayed differently than same page rendered on the client. There will be a need to run the same test suite, but adapted for the case that client library only adds prefix for the current runtime if at all.

[2016-08-21 22:15] kof commented on #294
What about this?

[code]

[2016-08-21 22:16] kof commented on #294
However probably `jss.removeStyleSheet()` also makes sense as opposite to `jss.createStylesheet()`

[2016-08-21 22:25] kof commented on #293
So we need to put afterEach into corresponding describe scope ...

[2016-08-21 22:32] kof commented on #294
Will implement now quickly this low hanging fruit.

[2016-08-21 22:47] kof commented on #294
done, will be released in the next release

[2016-08-21 22:47] #294 closed

[2016-08-21 22:49] kof commented on #293
Can you provide a specific test case to make sure we are on the same page?

[2016-08-21 22:53] kof commented on #293
Found only one place where a sheet is not detached after being attached, @nathanmarks do you see more?

[2016-08-21 22:57] kof commented on #244
any updates here?

[2016-08-21 23:03] kof commented on #119
Now we have [jss-isolate](https://github.com/cssinjs/jss-isolate) which allows isolate rules from inheritance and to globally define default values.

The next stage is to think how to allow isolation from global selectors.

[2016-08-21 23:07] nathanmarks commented on #293
@kof Nope, I only saw 1 extra in the DOM at the start of the tests I was writing.

When you `reset()`, wouldn't it also make sense to detach stylesheets since you're clearing the registry? Either way, however it gets implemented -- it would be nice to have a cleanup routine at the end of each test (or start of each) module so that other, independent tests don't have a chance of getting screwed by

[2016-08-21 23:09] nathanmarks commented on #279
@kof If they use the dynamic version of `inline-style-prefixer` server side and pass the UA string, the output **should** be fairly close... in an ideal world 😄

[2016-08-22 07:36] umidbekkarimov opened #295 "[JssProvider] React component"
Currently i'm migrating my single page application to work on server and found some solvable problems.

#### Problem 1: (from #279)
`jss-vendor-prefixer` works only on client side
##### Solution:
Make `jss-vendor-prefixer` work with `user-agent`,
e.g. `jss.use(jssVendorPrefixer({userAgent: req.headers['user-agent']}))`

#### Problem 2: (from https://github.com/cssinjs/jss/issues/279#issuecomment-2

[2016-08-22 08:08] kof commented on #293
We can add  something like that, just to be sure: `jss.sheets.registry.forEach(jss.removeStyleSheet, jss)`

[2016-08-22 08:10] maximkoretskiy commented on #119
We can reset all props like [postcss-initial](https://github.com/maximkoretskiy/postcss-initial) does.

[2016-08-22 08:17] kof commented on #295
Problem 1 -> please comment on the corresponding issue.

You can pass your jss instace and get a useSheet function which knows your jss.
https://github.com/cssinjs/react-jss#es6

Problem 3 -> there is already an issue on react-jss project, we have discussed a lot, it's time to prototype something, also we may not need to because @nathanmarks is implementing a full featured integration https://gith

[2016-08-22 08:17] #295 closed

[2016-08-22 08:19] kof commented on #295
This is easy, however this is needs to be a complete solution, well through thought. Will just adding jss from context to react-jss help you?

[2016-08-22 08:21] kof commented on #119
Yep, however the question is if we can do that at runtime without loading the static json ...

[2016-08-22 09:26] kof commented on #293
I think what you are referring to is the use of before() and after() ... where the it() calls in between rely on them. There are situations where you want to have a number of it() calls without to clean up in between, because you need multiple steps to fully describe the scenario.

Maybe I just misunderstand what you mean ....

[2016-08-22 09:40] kof commented on #293
I think I found a way, moving towards to having fully isolated it() calls everywhere, will be done in a sec.

[2016-08-22 09:57] kof commented on #293
@nathanmarks please check if I covered everything ... if not please reopen.

[2016-08-22 09:57] #293 closed

[2016-08-22 11:01] kof opened #296 "Start using flow"

[2016-08-22 21:50] kof commented on #292
I found something that makes sense and should help you.

[2016-08-22 23:13] kof commented on #292
@tusharmath please try master version, if it doesn't work please reopen.

[2016-08-22 23:13] #292 closed

[2016-08-23 10:04] tusharmath commented on #292
thanks a ton!

[2016-08-23 15:46] kof commented on #290
One feedback I have got from @b2whats on gitter is: people who are overwriting greedy global selectors from regular css in jss, will loose the ability to have  a stronger selector from jss. Which means that there will be a breaking change if we don't introduce any optional way to have the old behavior.

[2016-08-23 16:07] tusharmath commented on #292
@kof It's not possible to directly consume it via master seems. Would it be possible for you to release it via a different `npm dist-tag` ? It would be really nice to finally be able to use this feature.

[2016-08-23 16:45] nathanmarks commented on #290
@kof providing some sort of rendering options using the current behaviour as default would work.

[2016-08-23 18:57] kof commented on #292
what is the problem with `npm i cssinjs/jss#master` ?

[2016-08-23 18:58] kof commented on #290
Yeah, the question what is a better default, what we have now, jss sheets at the end, or the new one ....

[2016-08-23 19:34] nathanmarks commented on #290
@kof If you don't want to release a breaking change, the current behaviour as the default. Otherwise, hmm... difficult question as there are a variety of use cases. Will have to think about it some more.

[2016-08-23 19:35] kof commented on #290
I think breaking change is ok if it justifies the goal. Also it can be a global setup for a jss instance, so upgrading is just one option away.

[2016-08-23 19:57] nathanmarks commented on #290
What do you think to also being able to set a "start position" for `jss` by placing `<style data-jss></style>` in the document beforehand at a chosen place between tags in the head.

I would say the default should be the current due to the fact that if you are developing something new using `jss`, there's no reason why you should be loading other CSS afterwards that needs to take priority. My **hu

[2016-08-23 20:40] kof commented on #290
Ok then.

If doing the traditional normalize with global selectors, it doesn't matter if it is in jss or css, however ideally there should be no global normalize at all, but a local instead -> separate topic.

[2016-08-23 22:59] kof commented on #290
Also an interesting option, would give a user all possibilities instead of just 2 beginning/end.

[2016-08-24 09:41] b2whats opened #297 "[jss-nested] search '&' in all the string"
Example http://codepen.io/b2whats/pen/RRzwJR

We have two elements -
1) input - functional component
2) underline - design component

Design component is optional, it is standalone, its styles should not be in the input file because it violates the principles of dry

[code]

change this[line](https://github.com/cssinjs/jss-nested/blob/master/src/index.js#L36)

[code]

[2016-08-24 10:17] kof commented on #297
1. Matching & everywhere in the string will slow down a bit performance, as it needs to be done on every property. (not sure how much overhead it is, needs benchmarks)
2. It allows you to create a "non-scoped" selector like "input hr" which is what you normally do with "named: false" and considered as legacy/bad style.

I have 3 suggestions  how to solve this:

1. Create an InputWithUnderline comp

[2016-08-24 14:09] nathanmarks commented on #290
Have you thought of how/where you will implement this? I'm interested in hearing/seeing what you have in mind.

[2016-08-24 14:20] kof commented on #287
this is basically duplicate of #290

[2016-08-24 14:20] #287 closed

[2016-08-24 14:21] kof commented on #290
I am on #285 right now, do you want to give it a try?

[2016-08-24 14:23] nathanmarks commented on #290
100%, will do tonight after work.

[2016-08-24 14:31] kof commented on #290
So we know now that we want to:

1. be able to define where jss styles start rendering, some sort of entry point, all next styles are rendered after this one.
1. If an entry point is not defined, jss will define a default one in the end of head.
1. Every sheet has an option "index", which defines the relative order of style tags, higher number is closer to the end of style tag, lower number is clo

[2016-08-24 14:33] nathanmarks commented on #290
@kof There's one aspect I'd like your input on beforehand.

When attaching sheets to the DOM, we need to determine the placement amongst existing sheets. That means that we need to look at the existing sheets that are **attached** ordered by priority.

This means that when we either need to insert the sheet into sorted position when we call `registry.add()` or sort the array every time a sheet is

[2016-08-24 14:52] kof commented on #290
When attaching sheets to the DOM, we need to determine the placement amongst existing sheets. That means that we need to look at the existing sheets that are attached ordered by priority.

I think rendering backend should get "nextElement" as an option and use .insertBefore when .attach is called.

I think we should just place the sheet in the correct order when we call registry.add() by using Arr

[2016-08-24 14:53] nathanmarks commented on #290
All sounds good to me 👍

[2016-08-24 14:53] nathanmarks commented on #290
Will do this tonight.

[2016-08-24 22:41] nathanmarks commented on #296
Weak mode or full?

[2016-08-24 23:50] nathanmarks commented on #290
2 things came up (not blockers):

1. Option name?
2. Consider `link rel="stylesheet"` tags?

[2016-08-25 01:42] nathanmarks commented on #290
The rendering options also need defining. How do you want to store them on the options object? I'm wondering if that options object might get a bit bloated. In some ways it would be easier to keep concerns separated if there was a singleton renderer for each `jss` instance so it could be initialized and injected by the user.

[2016-08-25 07:08] kof commented on #296
Well if somebody can make full would be great, otherwise weak)

[2016-08-25 07:14] kof commented on #290
index?

Exactly, the idea of manual positioning via comment is better than the previous one.

The reason for instance per sheet is the element per sheet renderer needs to save.

[2016-08-25 14:03] nathanmarks commented on #296
We can start with weak, and then add full incrementally

[2016-08-30 13:06] umidbekkarimov commented on #244
Oh, totally forgot about this issue

Good idea, I think it can be done in both ways, e.g.:

[code]
___

I'm using this plugin in production currently and didn't have any problems so far, but it should be tested with other plugins

[code]

[2016-08-30 13:10] umidbekkarimov commented on #209
Here what I use [jss-important]( https://gist.github.com/umidbekkarimov/8dfb6414091f83940f5f4b408239d759)

[2016-08-30 13:16] kof commented on #244
I think if it can be implemented without plugin api, we should do so, feel free to create a package. I think it is a great idea for a community package.

[2016-08-30 13:16] #244 closed

[2016-08-30 13:18] kof commented on #244
Note that jss-something is a plugin naming convention, if you decide to do a pure functional package, call it "responsive-jss"

[2016-08-31 07:14] cvle commented on #290
Sorry I'm busy with a project's deadline. I just caught up with conversation and I agree with with the current consensus. Looking good so far.

[2016-09-01 21:07] alurim opened #299 "[jss-nested] Nested comma separated style declarations"
Consider the following style declaration:

[code]

I thought that the styles rendered would look like this:

[code]

but actually it looks like this:

[code]

What do you think about switching the behavior to what I expected it to be? Or is it bad form to be specifyiny rules with commas (and if so is that documented somewhere?)

[2016-09-02 04:10] cvle opened #300 "[jss-vendor-prefixer] No prefix in transition property used as an array"
This works as expected:

[code]

becomes:

[code]

However the following use cases fail:

[code]

It becomes:

[code]
### Workaround 1

If you only have 1 property with a potential prefix don't use an Array and put that property at the beginning.
### Workaround 2

Use https://github.com/rofrischmann/inline-style-prefixer.

[2016-09-02 08:41] kof commented on #299
What you did won't work at all ... the object inside of a nested rule is not a new rule, it is props.

[code]

[2016-09-02 08:44] kof opened #301 "Setup codecov"

[2016-09-02 10:56] kof commented on #300
Yep, we forgot to make vendor prefixer understand array values. Not sure if it is a bug or an enhancement.

[2016-09-02 16:43] alurim commented on #299
Ah whoops @kof! I edited my original question as I forgot the key `& $` prefixing the `someNestedDev` which makes it a rule not props, right?

[2016-09-02 16:48] kof commented on #299
this is still not correct, I assume $someNestedDiv rule need to be defined ....

[2016-09-02 16:49] kof commented on #299
you mean something like this

[code]

[code]

[2016-09-02 16:56] alurim commented on #299
yes! correctamundo! What do you think about having this different functionality? And you're fully functional example brings up another learning speed bump I encountered on the way. That `someOtherDiv` has to have a top level rule object for it to be referenced as `$someOtherDiv` with jss-nested. There have bene times where a className only needs to be referenced within another rule and I have empt

[2016-09-02 16:57] kof commented on #299
Can you tell me what problem you are solving?

[2016-09-02 17:06] alurim commented on #299
problem looking to solve for the first question: improve the ease of reading/writing JSS by adding some sugar. This basically make writing JSS more intuitive for people familiar with SASS as well as having less repetition in rule declaration. Right now to get the functionality I'd like I'd have to do the following:

[code]

as opposed to what I thought would work:

[code]

problem I'm seeking to s

[2016-09-02 17:12] kof commented on #299
Can you give ma a full example of what you are trying to achieve? Not quite following.

[2016-09-02 19:17] kof commented on #299
Besides of that, you are talking about a 3rd level nesting, normally this doesn't leads to a readability, so I want to see if I can write down what you trying to achieve in a better way without deep nesting.

[2016-09-02 19:27] alurim commented on #299
What I'm trying to do is create a highlighted state for a row element. To do so I'm trying to set several divs within the row to a certain color, maybe `text-decoration: underline` when the row is hovered over or active or focused. To relate this real case to the toy scenario the row has a `someDiv` className and one of the divs inside has the `someOtherDiv` className. Seems like a reasonable thin

[2016-09-02 19:36] kof commented on #299
Well, if you give me a toy scenario, I give you a toy answer. Give me a full picture, I want to see wether it needs fixing or not and how.
[code]

[2016-09-02 20:12] kof commented on #299
Based on reactions I see there is an entire team behind this issue, thats nice, means you are using or going to use jss in a bigger project and yet I act change stuff only if there is a real prove behind that it needs changing. There is a reason why jss is flat and jss-nested isn't a SASS clone. So lets discuss and make clear statements instead of putting thumbs up and down lol

[2016-09-03 04:33] cvle commented on #290
Something to think about: What would happen, when we have multiple JSS instances? What is the expected behavior?

[2016-09-03 07:55] kof commented on #290
1. it will use the same insertion point if any provided
2. it will maintain it's internal order per instance

right @nathanmarks ?

[2016-09-03 19:45] kof commented on #290
done

[2016-09-04 00:45] kof commented on #299
Also your code snippet [here](https://github.com/cssinjs/jss/issues/299#issuecomment-244432784) can be expressed in this way:

[code]

[2016-09-04 01:13] kof commented on #299
Me and @nathanmarks discussed that issue and clear is that we have to
1. Throw or warn when people try to nest more then 2 levels
2. Make better documentation with more examples.

[2016-09-04 02:45] nathanmarks commented on #299
The current behaviour is confusing because it allows the nesting but produces output which does not match the user's expectations of what the provided syntax should result in.

Since the deep nesting with multiple selectors doesn't act as one would expect, the current functionality should be clearly documented and in a dev environment have it throw an error so the user knows that their syntax is c

[2016-09-04 14:15] kof commented on #290
We forgot to document insertion point comment.

[2016-09-04 14:16] kof commented on #290
oh it is in setup, I forgot.

[2016-09-04 14:16] #290 closed

[2016-09-04 14:43] kof opened #302 "Errors and warnings with links to a full description"
Todo

- [ ] Every repository that warns or throws should have it's own error page with error descriptions (proabably docs/errors.md)
- [ ] Errors should link to the error page where a full information is provided
- [ ] Use url shortener for flexibility of changing the target  (which one is the best?)

cc @nathanmarks

[2016-09-04 14:48] kof opened #303 "Use lint-staged in all repositories"
To avoid forgetting to lint.

[2016-09-04 14:57] kof commented on #302
Bad part about using a url shortener is yet another service in between which can break. Maybe we are better off when not using it though.

[2016-09-04 15:05] nathanmarks commented on #302
Also, from what I can see, most URL shorteners don't allow you to change the destination after creating the link 👎

[2016-09-04 15:09] nathanmarks commented on #299
It also looks like enabling nesting to work in this manner is a fairly trivial task and can be done on the plugin side already.

We could add an option to enable this in the plugin, or @alurim if you take a look at `jss-nested` you'll see (line 45+) that it would be super easy to create your own plugin that implements nesting the way you want it. It isn't supporting the N levels properly in the cu

[2016-09-04 23:40] vass-david commented on #286
Done

[2016-09-05 06:49] AlastairTaft opened #304 "Request: nested media queries"
What do you think of a plugin for nested media queries? The same way you have [nested pseudo selectors](https://github.com/cssinjs/jss-nested).

I think it makes a lot more sense than the way normal css works.

e.g. nested media queries would look like this, everything under one class name.
[code]

Where as the current state of JSS I have to write it like this, which is much more verbose and confu

[2016-09-05 08:26] kof commented on #304
yep #246

[2016-09-05 08:26] #304 closed

[2016-09-05 08:27] kof commented on #246
@alebiavati any updates?

[2016-09-05 13:41] AlastairTaft opened #305 "Change browser check"
At the moment you do a browser check using the [is-browser](https://github.com/ForbesLindesay/is-browser). However when I compile the code with webpack I'm forced to pick either the server or the client when it builds the bundle so running the code isomorphically makes the check useless. Unless I'm mistaken?

Could we do a browser check like the following instead?

[code]

[2016-09-05 13:46] kof commented on #305
What exactly is the problem you are trying to solve?

[2016-09-05 13:47] kof commented on #305
I don't see why you are forced to pick anything and by whom. Webpack knows what to take automatically.

[2016-09-05 14:05] AlastairTaft commented on #305
So my webpack server bundle compiles down to this.

[code]
Which makes it always think it's in a browser environment. In my webpack config I have `target: 'node'` but it seems to have no effect on the `isBrowser` check.

My project where I'm compiling my webpack bundle depends on my custom components library and it's this library that depends on jss? Perhaps I've misconfigured webpack.

Or would c

[2016-09-05 14:17] kof commented on #305
The question here is why is your webpack is using the browser environment if you are building on the server?

[2016-09-05 14:19] AlastairTaft commented on #305
I'm not sure, as I thought `target: 'node'` should solve that. Will look further into it.

[2016-09-05 14:19] kof commented on #305
Actually you shouldn't need to do anything special, thats how is-browser works with browserify/webpack.

[2016-09-05 14:37] AlastairTaft commented on #305
I suspect it's something to do with configuring `externals` so that the `is-browser` package doesn't get bundled, but I'm using a mono-repo setup so adding it as an external causes it to not exist. Will keep looking into it but I suspect this probably isn't a jss specific issue. Thanks for your help.

[2016-09-05 14:46] kof commented on #305
Yeah looks like target: node should solve that https://webpack.github.io/docs/configuration.html#target.

But actually why do you use webpack for serverside? You can pre-build everything into cjs and then just use regular node's require.

[2016-09-05 19:21] alebiavati opened #307 "[jss-default-unit] Error if undefined or null property defined inside array"
My JSS stylesheet:

[code]

I get the following error:

[code]

I think the border color in this case should simply be ignored instead of throwing.
I can a pull request for this if you agree.

[2016-09-05 19:50] kof commented on #307
I think your code is wrong ... can't reproduce.

[2016-09-06 00:11] AlastairTaft commented on #305
Solved, came back at it fresh this morning. It was to do with externals. So the important thing is is to tell webpack not to bundle the 'is-browser' package, which means 'is-browser' has to be in externals.

What I did was exclude all the packages in my server config like so.
[code]

And good point, maybe I don't need webpack server side. I guess the only grey area I'm unsure about is what happens

[2016-09-06 13:42] kof commented on #285
Released.

[2016-09-06 13:42] #285 closed

[2016-09-06 13:43] kof commented on #303
Maybe @okonet may want to help out with this?

[2016-09-06 13:52] kof commented on #299
Released jss-nested with those 2 points addressed. Closing this for now, if something comes up again feel free to create a new issue with new input.

[2016-09-06 13:52] #299 closed

[2016-09-06 18:11] okonet commented on #303
I do and will!

[2016-09-07 14:20] kof commented on #265
Another use case is to use local rules for composition:

[code]

[2016-09-07 14:38] zerkalica commented on #265
Why not to merge ctaButton with button?

[code]

[2016-09-07 14:42] kof commented on #265
Because this way you can have 2 separate rules, but still be able to put them both at once:
[code]
Will result in

[code]

[2016-09-07 16:08] kof commented on #78
@typical000 can you attach here the source files of your design?

[2016-09-07 17:44] typical000 commented on #78
Sure!
PSD: https://dl.dropboxusercontent.com/u/7605560/jss/design.psd
JPG examples:
https://dl.dropboxusercontent.com/u/7605560/jss/design_full.jpg
https://dl.dropboxusercontent.com/u/7605560/jss/design_full_menu.jpg

Some weeks ago I have just started to do something with this design, but now I have some problems with working with opensource, and what is done is like 5% of all :(
The main idea wa

[2016-09-08 05:51] johann-sonntagbauer commented on #246
@kof @alebiavati any updates on that topic? tried to implement that feature as well and it seems strait forward. One question is how to test in combination with jss-extend. Where should we place tests where several plugins are involved?

[2016-09-08 08:05] kof commented on #246
I think it is ok to add a plugin as a dev dependency and just add tests for it right away.

[2016-09-08 08:17] johann-sonntagbauer commented on #246
all right then I will add the testcases and formulate a PR.
@kof Is there already some utility to merge styles of a rule?

[2016-09-08 08:21] kof commented on #246
using es6 {...}

[2016-09-08 08:24] johann-sonntagbauer commented on #246
of course :)

[2016-09-08 20:44] #303 closed

[2016-09-08 21:06] okonet opened #310 "Move same dependencies and npm tasks to a separate repo"
https://github.com/FormidableLabs/builder allows having a separate repository for same dependencies and common tasks for different common projects. JSS looks like a great use case for it and I think it's worth trying.

[2016-09-09 16:41] alebiavati commented on #246
Sorry for the delay, I couldn't find the time to work on it. Thanks @johann-sonntagbauer for picking this up!

[2016-09-09 17:07] kof commented on #246
@johann-sonntagbauer this feature is very important because after we have it, I will create an official release of  https://github.com/cssinjs/aphrodisiac

[2016-09-09 17:29] alebiavati commented on #307
Hi, sorry for the delay.

Here is how to reproduce it using the first example in the JSS readme file:

[code]

Again, I get this error at `jss-default-unit/lib/index.js:24`:

[code]

Notice that the behaviour without using `jss-default-unit` would be to just ignore the `null` property.

[2016-09-09 17:33] igorpreston opened #311 "[jss-nested] container.createRule is not a function(…)"
Hello,

I faced strange error when trying to write nested hover selector in JSS:
`index.js: 37 Uncaught (in promise) TypeError: container.createRule is not a function(…)`
This is the line that chrome dev tools debugger references as the error in that file:
 **container.createRule(name, rule.style[prop], options);**

Here's my config:
[code]

Here's my code which breaks compilation of styles:
[code

[2016-09-09 17:34] kof commented on #307
Why would you want to use null?

[2016-09-09 17:34] johann-sonntagbauer commented on #246
oh nice ;) i will finalize over the weekend

[2016-09-09 18:18] johann-sonntagbauer commented on #246
formulated a PR with the changes. Added the missing test case with jss-extend.
https://github.com/cssinjs/jss-nested/pull/14

[2016-09-09 18:29] #311 closed

[2016-09-09 18:31] kof commented on #311
2 things:

1. update to the latest version of jss
2. use https://github.com/cssinjs/jss-preset-default

[2016-09-09 19:09] kof commented on #307
Figured it makes sense as we also skip empty rules.

[2016-09-09 19:11] alebiavati commented on #307
For a multi-theme system. Putting it in the simplest terms I have a set of variables in an object and I'm passing it to a function that generates the styles object to pass to JSS.

Some of the variables might not be set in the input theme.

*Option 1:*

I could set default values inside my function but that would make the generated CSS bigger:

[code]

*Option 2:*

This is just tedious:

[code]

I

[2016-09-09 19:11] alebiavati commented on #307
You beat me to it :)

[2016-09-09 19:20] kof commented on #307
fixed in both jss and js-default-unit and jss-preset-default.

Also feel free to start using jss-preset-default.

[2016-09-09 19:20] #307 closed

[2016-09-09 21:43] nathanmarks commented on #301
I can sort this out 👍

[2016-09-11 09:27] cvle opened #312 "[jss-nested] Support deep nesting"
When I updated JSS i suddenly saw a lot of warnings popping up in my console and saw that deep nesting support was disabled with https://github.com/cssinjs/jss-nested/pull/11.

I would love to see deep level nesting supported again for my use case:

I'm using a 3 level approach for styling my elements: `element -> variant -> state`. One example would be `button -> flat -> focused`.

In Code:

[cod

[2016-09-11 09:33] kof commented on #312
Can you give me a real world jss example?

[2016-09-11 10:53] cvle commented on #312
This is a simplified version of my button style:

     {
       root: {
         /* Basic Styling. */
         borderRadius: "2px",
         height: "2.25rem",
         lineHeight: "2.25rem",
         padding: "0rem 0.5rem",
         transition: "all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms",
         minWidth: "4rem",
         backgroundColor: "transparent",
         color: "black",
         "&:h

[2016-09-11 12:05] kof commented on #312
So, would it be that bad if you use this:

[code]

[2016-09-11 13:25] cvle commented on #312
It is not a big deal in a small example like this, but saves me around 30 times in my more advanced button component to write things like this

    // My variants are statically defined, as well as some custom states.

    [`&.${Variant.dark}:focus`]: {
      background: "rgba(255, 255, 255, 0.12)",
    }
    [`&.${Variant.dark}:hover`]: {
      background: "rgba(255, 255, 255, 0.12)",
    }

inst

[2016-09-11 15:42] oliviertassinari opened #313 "Media query API."
I'm playing out with Aphrodite <-> JSS.
I have noticed one inconsistency with the API.
The media query structure here is basically the opposite to what we have on Aphrodite:

### JSS
[code]

### Aphrodie
[code]

The *Aphrodite* approach is interesting as allowing to keep style **overriding closer** from a source code point of view.
I'm wondering what the motivation behind the current API and why t

[2016-09-11 16:46] kof commented on #313
Will be supported soon as well #246

[2016-09-11 16:46] #313 closed

[2016-09-11 17:00] oliviertassinari commented on #313
Great, sorry for the duplicate.

[2016-09-12 13:28] vass-david commented on #312
I'm in this with @cvle. This happend to me in exact same situation (buttons). Is there any problem with implemented deep nesting other that it's not a good habit? Don't get me wrong. I don't say opposite, I think it's wrong as well, but 3 levels is not that deep IMHO and enhances readability and removes unnecessary repetition a lot in this particular case (and more other similar cases).

[2016-09-12 13:52] kof commented on #312
Well, I was waiting for a real life use case which you seem to have delivered ( @nathanmarks wdyt? ).  Now we can think of increasing the default nesting level to 3 levels and create an option `maxLevel`. Also we would need to split the parent selector by comma and use every part as a value for childs `&` replacement.

[2016-09-12 13:54] kof commented on #312
I think this has no the highest prio right now, because I think things on the roadmap are more important https://github.com/cssinjs/jss/#roadmap.

[2016-09-12 15:27] kof opened #314 "Use "warning" package"
We currently use in jss-nested and in jss-extend (I think thats only 2 places, but need to search) `console.warn` to write some warnings into console. Package "warning" seems to be a good thing because it also creates a stacktrace. Also it will be removed in production, so its size doesn't matter. It is a clone of fbjs/warning modules.

https://github.com/BerkeleyTrue/warning/

[2016-09-12 15:27] kof commented on #314
As discussed @nathanmarks

[2016-09-12 17:01] kof commented on #310
Another option is https://github.com/lerna/lerna

[2016-09-12 17:11] kof commented on #310
I still feel like I could write something way more simple:

1. Create a package for e.g. named "merge-package"
1. Put into that package a package.json file with a base defaults.json which should act like a defaults when merging it with your local package.json.
1. Create a  runnable script which will merge the defaults with the local package.json and write into it.

The workflow will look like that

[2016-09-12 22:29] kof commented on #246
released

[2016-09-12 22:29] #246 closed

[2016-09-13 17:07] cvle commented on #312
Unfortunately I have no resources at the moment, so I appreciate anyone taking over this.

[2016-09-13 20:32] typical000 commented on #78
During some tries to implement something good and having short exprerience with css-modules I have faced problem that i miss class composition. So I'll switch to #265 and try to imlement plugin first

[2016-09-13 20:33] typical000 commented on #265
I'll try to implement this plugin

[2016-09-13 21:37] kof commented on #78
You aren't implementing jss landing page with css-modules, are you?

[2016-09-13 21:39] typical000 commented on #78
No-no. With jss. I just realized that I am missing jss-compose to be happy)

[2016-09-13 23:05] typical000 commented on #225
Maybe we can close this issue? :)

[2016-09-13 23:08] kof commented on #225
Yeah lets create more specific issues for remaining tasks.

[2016-09-13 23:08] #225 closed

[2016-09-15 08:35] kof commented on #66
I think right now it is not very important. Because it turns to be a rare case when people need to use .prop() function. I think for now I will close it.

[2016-09-15 08:35] #66 closed

[2016-09-15 08:42] kof opened #315 "Does detaching sheets make sense?"
We need to prove/disprove that detaching styles speeds up the nodes insertion and selectors for big apps. Thanks to @nmn for pointing this out.

For this we need to create a benchmark that does appr. the same.

[2016-09-15 08:42] kof commented on #48
created a separate issue for the last task #315

[2016-09-15 08:42] #48 closed

[2016-09-15 12:16] nathanmarks commented on #315
I had the same thought which is why I am not detaching sheets in `jss-theme-reactor` and counting refs.

What do you want to use as a reference point for a "big app"?

[2016-09-15 12:29] umidbekkarimov commented on #315
+1 for disabling detaching. It's completely unnecessary to keep DOM clean from unused style tags  (unless you need to support IE)

[2016-09-15 12:58] kof commented on #315
sheet.detach method itself is not a problem, jss is a rendering tool, its fine to have it. A different question is if integrations like react-jss or jss-theme-reactor need to count refs and detach/attach sheets and if yes, for what reasons.

One thing that I can think of also is just for the sake of smaller amount of style nodes in the dom.

[2016-09-15 13:01] kof commented on #315
We can take some big site or app as an example (amazon, ebay) or anything else and try to measure `document.createElement()` performance. Also it would be good to know if there are selectors which can havily influence this performance.

[2016-09-15 13:03] kof commented on #315
Also I may be wrong in the assumption that we can measure site performance by measuring document.createElement. Any other ideas?

[2016-09-15 23:40] rosskevin opened #316 "Guidance on using static flexboxgrid css through CLI"
@kof , I could really use some guidance here.

I would like to use my jss process with flexboxgrid.com's css. I'm aware of [roylee0704/react-flexbox-grid](https://github.com/roylee0704/react-flexbox-grid) but I just don't like the approach.

Given that most of their code simply uses the original flexboxgrid.com code as a css module, I figured I could do the same with jss.

## Implementation

So, t

[2016-09-16 09:22] kof commented on #316
Nice! First of all, converter was experimental and is probably not much in use in the wild. I never had time to finish a number of feature it needs (#166)

1. The dots: css you are trying to convert has global selectors. JSS is by default named: true. In order to use global style CSS as is, you need to put option named: false.
1. Yes its because of point 1. You have class names as rule names.
1. S

[2016-09-16 13:19] cvle opened #317 "[jss-vendor-prefixer] Weird prefix bug with transitions in IE"
I have a weird bug:

On IE11 this works correctly

[code]

But without specifying the delay, it gives me a wrong output:

[code]

I couldn't reproduce this on an older webkit browser.

[2016-09-16 13:24] kof commented on #317
Interesting bug.

[2016-09-16 14:19] cvle commented on #317
I just noticed using a delay other than zero will result in the same bad prefix.

[2016-09-16 14:21] cvle commented on #317
Edge browser does the same but with the `-webkit-` prefix.

[2016-09-16 15:11] rosskevin commented on #316
Thanks @kof.  I see I could go the global route, but I think I'll give it a shot and convert the source fully so it is jss enabled.  Thanks again.

[2016-09-16 15:11] #316 closed

[2016-09-16 16:29] rosskevin commented on #316
BTW - I'm working on this internally, would love to open source it but don't want to be the owner of it (I don't have time to maintain yet another OS project).  If anyone wants to take ownership, I'm happy to contribute all my work.

[2016-09-16 22:09] nathanmarks commented on #312
@kof One option is to have the system work with N levels, and leave performance implications up to the user. As long as the implementation doesn't affect performance of nesting 1-2 levels I think this would be a good tradeoff.

If the user decides to nest 6 levels in every sheet -- the performance implications are their responsibility.

Having the nesting work with N levels would also most likely

[2016-09-16 22:10] nathanmarks commented on #315
That works, but why not also make it end-to-end and test using `jss`? (can be in addition to ensure that there aren't other areas of the abstraction causing issues)

[2016-09-18 09:08] typical000 commented on #265
@kof Good news! :) https://github.com/typical000/jss-compose pushed first stable version of jss compose. Can you take a look and review it? If it's all ok - I'll transfer repo to cssinjss org.

[2016-09-18 09:18] typical000 commented on #314
https://github.com/cssinjs/jss/issues/265 in jss-compose warnings are used too

[2016-09-18 11:51] kof opened #318 "[jss-nested] rules order in attached sheet when using .addRule"
Currently when a sheet is already deployed and attached and addRule is used, the order is not correct. Nested rules are added before their parents. Index option is not used in StyleSheet.addRule method in this case. It is not possible to insert rules at any position like in an array, because it will throw `DomRenderer.js:189 Uncaught IndexSizeError: Failed to execute 'insertRule' on 'CSSStyleSheet

[2016-09-18 11:52] kof commented on #318
This is basically the release blocker for  https://github.com/cssinjs/aphrodisiac

[2016-09-18 13:46] nathanmarks commented on #318
What are the key benefits of this approach (CSSOM modification) vs string manipulation?

[2016-09-18 15:35] kof commented on #318
node.textContent would replace the entire style sheet when inserting just one rule. This is the reason why aphrodite uses asap and aggregates new rules and then does one string replacement. As I want to  avoid asap, entire sheet insertion for every new rule will be an overhead. So the idea is to use DOM api for rules insertion which is not a problem per se. It is just the jss internal implementati

[2016-09-18 16:11] kof commented on #318
I think I have almost nailed it.

[2016-09-18 21:22] kof opened #320 "Sub devDependency is not installed"
Currently when installing jss for dev, jss-nested is installed, but jss-extend is not. This is weird because jss-extend is in devDependencies of jss-nested. This causes tests break.

This was introduced recently as jss-nested added jss-extend as a dependency to the tests.

[2016-09-18 21:22] kof commented on #320
cc @johann-sonntagbauer any idea?

[2016-09-19 05:29] johann-sonntagbauer commented on #320
i will take a look, wired

[2016-09-19 06:27] johann-sonntagbauer commented on #320
Well npm doesn't install transitive dev-dependencies. Therefor the current test situation will not work. I have to dig a little deeper to find a solution for this.

[2016-09-19 06:29] johann-sonntagbauer commented on #320
I think the only solution would be to add jss-extend to the devDependencies of jss as well. What do you think @kof

[2016-09-19 07:43] kof commented on #320
I think it will soon hit something else when we add new dependency to any plugin.

[2016-09-19 08:04] johann-sonntagbauer commented on #320
The test strategy in jss-nested is somehow mixed up, maybe it would be wise to shift the "integration" test with jss-extend to jss project.

[2016-09-19 08:07] kof commented on #320
yeah, that would work, also I have an issue to make more such tests anyways!

[2016-09-19 08:08] kof commented on #320
However it still bothers me that we can't have transitive dev dependencies, what if the next time we want to use some stubbing library or something else in one of plugins.

[2016-09-19 08:19] johann-sonntagbauer commented on #320
yep thats a problem. Thats one reason why mono repos are so popular these days. They often maintain the dev dependencies in the top most package.json
Never the less I fear we have only the one option to shift the test to jss project and remove the dev dependency from jss-nested

[2016-09-19 08:23] kof commented on #320
or introduce jss-extend as a devDependency in jss as well ....

[2016-09-19 08:26] kof commented on #320
or use depencencies in jss-nested for jss-extend ...

[2016-09-19 08:31] johann-sonntagbauer commented on #320
would be the better one

[2016-09-19 09:20] kof commented on #320
the problem might be in keeping versions in sync ...

[2016-09-19 09:52] kof commented on #320
added jss-extend ..

[2016-09-19 10:58] kof commented on #320
On the other hand, as @just-boris mentioned on twitter, if we need transitive devDependencies installed, they are not really devDependencies and should be moved as I suggested to dependencies.

[2016-09-19 13:09] kof opened #321 "Add edge browser to browsers.json"

[2016-09-19 13:09] #318 closed

[2016-09-19 13:16] #321 closed

[2016-09-19 13:47] johann-sonntagbauer commented on #320
hm, I don't want to be too exact here, but the dependency of jss-extend in jss-nested is only because of the tests, to model an integration scenario.  But I am fine with the dependency

[2016-09-21 08:23] kof commented on #315
@nathanmarks do you want to give it a try?

[2016-09-21 08:26] kof commented on #286
Thanks.

[2016-09-21 08:26] #286 closed

[2016-09-21 08:30] kof commented on #316
@rosskevin I think we could add this to jss-cli repository, lets talk about how you approaching this!

[2016-09-21 20:05] rosskevin commented on #316
@kof - I just used a couple of regexes and converted the rest manually.  I don't think there is much if any value to add to the cli repo.  I was speaking more of having a JSS based grid project out there, which I'm willing to contribute the code I converted.

Regarding how I ended up, here's the bulk of the conversion (the rest was manual):

[code]

[2016-09-22 20:31] web2style commented on #247
@kof jss-compose is a great tool, but scss to jss converter would give us possibility to convert variables of a scss library into js ones and use them with jss in components. This is the most significant advantage of css libraries in my opinion - when you are able to have variables for screen sizes (media queries), colors, sizing, etc. And then use them throughout the app.

Importing of compiled c

[2016-09-22 21:01] nathanmarks commented on #315
Sure, this weekend i'll have more time.

[2016-09-23 07:54] kof commented on #247
yes, scss2jss converter is also on the roadmap #166

[2016-09-23 07:54] kof commented on #247
Feel free to help.

[2016-09-24 11:58] kof opened #322 "[jss-supports] plugin that will work in IE too"
Currently @supports rule is supported and generates just regular css, however it doesn't work in IE and it seems like it is not hard to make it work by using [this](https://github.com/cssinjs/css-vendor/blob/master/src/supported-property.js)

[2016-09-24 12:01] kof commented on #322
Usage examples https://www.rachelandrew.co.uk/archives/2016/09/20/css-grid-meets-the-real-world-a-login-form/

[2016-09-24 17:09] typical000 commented on #265
@kof Did you watched jss-compose? :)

[2016-09-24 17:54] kof commented on #265
Yep, I was busy with other tasks you probably saw in the recent releases. It looks good.

Here are the next steps:
- [ ] move it to cssinjs org
- [ ] some stylistic changes in code (reduce indentation level), will do it myself
- [ ] review documentation (will do or @nathanmarks or anybody are welcome as well)
- [ ] add it to the test suite in jss repository same way jss-nested is added
- [ ] add i

[2016-09-25 07:38] typical000 commented on #265
Transfered

[2016-09-25 09:22] typical000 commented on #265
Added pull request to jss-preset-default: https://github.com/cssinjs/jss-preset-default/pull/2

[2016-09-25 09:24] typical000 commented on #265
@kof did you mean inside branch **feature/plugins-test-219** ?

[2016-09-25 09:32] typical000 opened #323 "[jss + all plugins] building process breaks on OS Windows"
Building process breaks on OS Windows in jss and any other plugins on lines like this:
[code]
Because Windows doesn't know how to set global variables in Unix way. As sultion we can use https://www.npmjs.com/package/cross-env and add it to jss and all plugin repositories. (it's already used in jss-compose and jss-expand)

[2016-09-25 09:41] kof commented on #323
Yep.

[2016-09-25 09:41] kof commented on #323
Adding it to jss.

[2016-09-25 09:44] #323 closed

[2016-09-25 10:22] kof commented on #265
nope, will add it, I am on it for react-jss right now.

[2016-09-26 16:30] kof commented on #255
- [ ] warn about plugins used in the wrong order

[2016-09-27 18:25] kof commented on #320
Yeah thats the problem. Once we run code that was intended to be used for dev only, this code becomes a public api and its dependencies are not dev any more.

[2016-09-27 18:37] kof commented on #265
@typical000 can you add me to the package on npm ?

[2016-09-27 19:39] kof commented on #265
@typical000 I would publish it, it is ready, but I need npm package access.

[2016-09-27 19:43] typical000 commented on #265
@kof sure. Just added you. Can you try to publish new version? Now console tells:
[code]

[2016-09-27 20:30] typical000 commented on #265
@kof Not about jss-compose, but I have just added you to https://www.npmjs.com/package/jss-expand too

[2016-09-27 21:09] kof commented on #265
Released.

[2016-09-27 21:09] #265 closed

[2016-09-28 10:14] kof commented on #241
In this conversation https://github.com/styled-components/comparison/pull/33/files#r80881006 I have got a different idea.

What if we move global styles to a separate plugin?
We can make then an option `{global}` as well as json key global, which will allow to create global styles right within local sheet.

[code]

[2016-09-28 10:24] kof opened #324 "[jss-global] Plugin that enables global styles without using an option"
We can have this syntax for global styles:

[code]
- It allows us to use global selectors any time, without being forced to use a separate sheet with an option `{named: false}`.
- Also it allows us to remove `{named}` option and related logic from the core. Core is always namespaced.
- It is explicit about globals, which is a good thing.

[2016-09-28 10:24] kof commented on #241
Closing this issue in favor of #324

[2016-09-28 10:24] #241 closed

[2016-09-30 08:57] kof commented on #320
Going for the actually "wrong" way - installing devDependencies in jss for all plugins. Because I don't want dependencies of plugins contain all the testing dependencies, which will be installed on user machines, because it may be very slow.

[2016-09-30 08:57] #320 closed

[2016-09-30 09:04] kof commented on #310
Ok the plan for now is:

1. Every package we want to test from jss test runner creates a build into `tests` dir. That built contains all tests as well the sources compiled to cjs/es3 (yes es3 is needed to support IE9 stuff like "default").
2. JSS repository has all devDependencies needed to run the tests those packages. Yes, it will potentially break if some of the packages expects a newer version

[2016-09-30 09:06] kof commented on #219
Ok the plan for now is:

1. Every package we want to test from jss test runner creates a build into `tests` dir. That built contains all tests as well the sources compiled to cjs/es3 (yes es3 is needed to support IE9 stuff like "default").  Also those files are already "pre-wired".
2. JSS repository has all devDependencies needed to run the tests of those packages. Yes, it will potentially break i

[2016-09-30 09:07] kof commented on #310
So far didn't see a good fit for jss. Will go for a boilerplate for now.

[2016-09-30 11:50] #310 closed

[2016-09-30 12:42] kof opened #325 "[jss-camel-case] fallbacks support"
Has been forgotten.

[2016-10-01 10:01] kof opened #326 "[jss-isolate] Option for isolation like in shadow dom."
We can achieve this by defining a default rule name, which will be reset. We can still use inheritance within one component, but it won't spread down to nested components.

We can achieve this by adding an isolate option to the plugin creator.
- `jss.use(isolate({isolate: true})` is the current behavior, isolates all rules if you don't set isolate: false on a sheet or on a rule
- `jss.use(isolate(

[2016-10-01 10:02] kof commented on #326
thanks @giuseppeg for the input!

[2016-10-01 10:04] kof commented on #326
cc @maximkoretskiy

[2016-10-01 10:09] giuseppeg commented on #326
FYI there is a [list of [inherited] properties](https://www.w3.org/TR/CSS21/propidx.html) for CSS2.1 on the W3C site. You'd need to add the missing CSS3/4 ones – there is a [list on StackOverflow](http://stackoverflow.com/a/30536051/931594) but I haven't validated it yet.

[2016-10-04 17:55] wldcordeiro commented on #314
How would we like to add this? Expose the `warning` package API as part of JSS core to its plugins? I could take a stab at this but it looks like we just need to elaborate on how we'd like the integration to look like.

[2016-10-04 17:56] kof commented on #314
its already done mostly https://github.com/cssinjs/jss-nested/blob/master/src/index.js

Need to check which plugins need it too.

[2016-10-04 17:58] kof commented on #314
It is jss-extend only.

[2016-10-04 17:59] wldcordeiro commented on #296
@nathanmarks I'd like to see how the output looks for full, just to get an idea of how much work it is and then decide. Weak is great, but if the work required to go full isn't too massive it wouldn't hurt.

[2016-10-04 18:01] kof commented on #296
It can be decided in each file.

[2016-10-04 18:03] wldcordeiro commented on #296
@kof I know this, we use Flow at work. I'd just like to see the error count of weak for all vs full for all. I'll update this issue with output shortly.

[2016-10-04 18:32] wldcordeiro commented on #296
Flow full on `src/` ignoring `tests/` output is 216 errors
Flow weak on `src/` ignoring `tests/` output is 138 errors

Not pasting in the whole of the output, but that's 36% more errors with full.

[2016-10-04 18:36] kof commented on #296
don't know, whats the typical setup? does it make sense in tests?

[2016-10-04 18:55] wldcordeiro commented on #296
I'm not certain if it makes the most sense in your tests, we don't enable it there on our project and I haven't typically seen it in tests, maybe we start with the `src/` directory and reevaluate adding to tests after.

The setup I used for the `.flowconfig` looked like this

[code]

Adding an `interfaces/` dir is nice to add Flow types for 3rd party code (or using downloaded ones)

[2016-10-05 12:08] kof opened #327 "[jss-grid] Plugin that polyfils css grids"
Idea comes from @ai, IE has no support for grids. We could eventually make it work through jss.

[2016-10-05 18:16] rosskevin opened #329 "index precedence not working on root element"
https://github.com/cssinjs/jss/blob/master/docs/js-api.md#attach-style-sheets-in-a-specific-order

I'm trying to take precedence in styling over the [material-ui#next] (https://github.com/callemall/material-ui/blob/next/src/Paper/Paper.js#L7) `Paper` element that specifies `index: -10` with my stylesheet `index: 1` on my root element:

[code]

![landing_-_dummy_com](https://cloud.githubusercontent

[2016-10-05 18:23] kof commented on #329
Something @nathanmarks probably knows about.

[2016-10-05 18:26] kof commented on #329
I actually thought higher number means higher specificity, which would mean that higher number is lower in the list.

[2016-10-05 18:34] rosskevin commented on #329
Thanks @kof, yes I misread the doc in my confusion and I have updated the text above.

So the first scenario is the one I'm confused with.  Neither `1` nor `100` would take precedence/be more specific/attach lower in the dom.

[2016-10-05 18:41] kof commented on #329
I think library level should have lower numbers, because it needs to be overwritable by user styles.

[2016-10-05 18:42] kof commented on #329
Can you submit a failing test?

[2016-10-05 18:51] rosskevin commented on #329
[This test](https://github.com/cssinjs/jss/blob/master/tests/functional/priority.js#L153) logically already proves the right behavior in `jss`, yet it's not what is manifested in my dom.  What else could be affecting this?  The only oddity in my webpack setup is that I include the `material-ui/src` directly as an alias (uses one transpilation pipeline).

[2016-10-05 18:58] kof commented on #329
maybe you are using some old jss version which doesn't support index property?

[2016-10-05 18:59] kof commented on #329
make sure to verify the version from your build, package.json might be a bitch.

[2016-10-05 19:05] nathanmarks commented on #329
Try remove your `node_modules` folder and reinstall. I encountered a similar issue (might have been changes in jss-theme-reactor though) and actually tried writing tests for `jss` to reproduce but was unable to. I ended up reinstalling my dependencies and it worked fine.

[2016-10-05 19:12] nathanmarks commented on #329
@kof I have other concerns about this feature. It is a **massive** help and allows us to do things that aren't currently possible with CSS in JS libraries otherwise.

However, when you have a lot of components, it's hard to "keep track".

In a way, I think defining this priority in a central location might be a preferable approach. The reason I say that is because a sheet shouldn't necessarily car

[2016-10-05 19:24] kof commented on #329
a definite yes.

[2016-10-05 19:26] nathanmarks commented on #329
@kof Do you think this is the responsibility of `jss` or for consuming projects?

[2016-10-05 21:50] alexkuz commented on #292
@kof as far as I understand, this solution relies on module bundler using `browser` or `main` setting in `package.json`. I think it's worth mentioning [here](https://github.com/cssinjs/jss/blob/master/docs/ssr.md), that using this with webpack for server rendering requires `resolve.packageMains` to be changed (`browser` should be omitted):
https://webpack.github.io/docs/configuration.html#resolve-

[2016-10-05 22:49] kof commented on #329
Consuming project. Warning?

[2016-10-05 22:53] kof commented on #292
this is a matter of webpack configuration, why should we document this in jss?

[2016-10-06 00:26] alexkuz commented on #292
Hm, you're probably right - I guess `browser` shouldn't be there anyway for SSR. It's just here is the first case I'm facing this issue - haven't seen this approach before (and if it relies on non-popular technique, I suppose, it wouldn't hurt to mention it). Maybe it is more common in `browserify` world, I don't know.

[2016-10-06 14:46] rosskevin commented on #329
Done, on two different machines with the same results.

I have also seen this in the past and removal/reinstall did work.  This time, it just isn't making a difference.

[2016-10-06 22:57] nathanmarks commented on #329
Let me see if I can re-reproduce.

[2016-10-08 12:37] kof commented on #312
So here is the todo

- [ ] remove nesting level warning, leave it up to the user and linter (in the future)
- [ ] Make json like this work. For this, we  need o split `'& .a, & .b'` by comma and make them separate  rules
[code]

[2016-10-08 21:26] nathanmarks commented on #329
Also @rosskevin I'll be refactoring how priority is set for mui this weekend. Nothing is going to be put in individual stylesheets anymore. We'll have everything in a centralized location for configuring that. I'll reference this issue when I make the PR.

[2016-10-08 23:40] nathanmarks commented on #329
@rosskevin here's how i'm configuring it in the docs in that PR: https://github.com/nathanmarks/material-ui/blob/9918e48feafab27e22bbe81dcd5bb7e9e11d43bd/docs/site/src/components/App.js#L25

[2016-10-09 00:05] nathanmarks commented on #329
@rosskevin https://github.com/callemall/material-ui/blob/next/docs/site/src/components/App.js#L25

[2016-10-10 05:57] AlastairTaft commented on #305
Hitting this problem again after reinstalling all my dependencies

[2016-10-10 13:16] nathanmarks commented on #329
@rosskevin are you still having the issue with that setup?

[2016-10-10 17:32] kof commented on #305
Thats a lot of stuff one needs to do, how can we fix this easier? There should be some simple way.

[2016-10-11 04:39] AlastairTaft commented on #305
I hit this issue again because my node_modules catching code didn't catch a module I was using that was a dependency inside another package.

Only thing I can suggest is a runtime check like my first comment.

But this is more a failing of the difficulty of webpack than your package, possibly it shouldn't fall on you to solve.

[2016-10-12 16:43] rosskevin commented on #329
@nathanmarks I apologize for taking so long to confirm - been out ill.  Your changes work well for us, thank you!

[2016-10-12 16:43] #329 closed

[2016-10-14 12:41] cvle commented on #315
Same thought here. The only thing I can think of is that it might make sense for a huge app to clean up unused styles before changing pages.

[2016-10-16 11:56] kof commented on #226
@rofrischmann is on it

[2016-10-16 13:32] kof commented on #270
We need to make css->jss convertion online possible as well (use jss-cli) to enable same sort of usability like @mxstbr has got for css-components.

[2016-10-16 13:36] kof opened #330 "[repl] use es6 by default for jss notation"
- [x] add babel to the runtime
- [x] convert input, use default exports

[2016-10-17 15:36] atabel opened #331 "[jss-vendor-prefixer] Does not add -moz- prefix in Firefox 49"
I've seen this failing for css property  `'appearance'` .

I've been debugging this and the root of the problem seems to be this:
https://hacks.mozilla.org/2016/09/firefox-49-fixes-sites-designed-with-webkit-in-mind-and-more/

In https://github.com/cssinjs/css-vendor/blob/master/src/prefix.js#L24 you're checking whether `'WebkitTransform'` is in style, which returns `true` in FF 49. So the lib is

[2016-10-17 15:41] atabel commented on #331
I can prepare a PR for https://github.com/cssinjs/css-vendor
A simple fix would be changing the props order [here](https://github.com/cssinjs/css-vendor/blob/master/src/prefix.js#L14) and check Moz before Webkit.

[2016-10-17 15:45] kof commented on #331
Wow, wtf, now we can't  rely on vendor prefixes any more.

[2016-10-17 15:46] kof commented on #331
Yes, will accept a pr, thanks!

[2016-10-17 16:53] cvle commented on #331
I know different browsers used to adopt webkit prefixes because they were widely popular. This was the case with older versions of IE, Firefox and Opera. It is not clear how the situation is at the moment. The safest way would be to check webkit at the very last.

[2016-10-17 16:54] cvle commented on #331
I see this has been already addressed in the PR, great!

[2016-10-17 16:54] kof commented on #331
yeah, you are right, lets do that!

[2016-10-17 17:07] #331 closed

[2016-10-17 17:36] kof commented on #331
published

[2016-10-18 17:00] rsaccon commented on #305
Now I am running into this issue as well. While everything works fine on a normal app, actually running in a browser (react, hot-module-reloaded from a webpack based devserver), things break when I run my code in Electron in the renderer process (which is a browser environment, exposes `window`):

there `require('is-browser')` returns false

a runtime check with my own version, which runs for othe

[2016-10-18 17:52] rsaccon commented on #305
My current dirty ugly webpack devserver hack to get `jss` running in the electron app:

[code]

so `require('is-browser')` resolves to a global variable, and before loading the js bundle, I simply set:
[code]

[2016-10-18 19:31] kof commented on #305
Hmm year, thats unfortunate ...

[2016-10-20 23:43] BenjaminVerble commented on #305
Having the same problem in electron. checking for window or document as described at the top of the thread seems reasonable to me. happy to submit a pr

[2016-10-22 22:46] kof commented on #305
Ok lets switch to https://github.com/tuxsudo/is-in-browser

[2016-10-23 19:45] rofrischmann commented on #226
Functions:
- [x] hsl
- [x] hsla
- [x] matrix
- [x] matrix3d
- [x] perspective
- [x] rgb
- [x] rgba
- [x] rotate
- [x] rotate3d
- [x] rotateX
- [x] rotateY
- [x] rotateZ
- [x] scale
- [x] scale3d
- [x] scaleX
- [x] scaleY
- [x] scaleZ
- [x] skew
- [x] skewX
- [x] skewY
- [x] translate
- [x] translate3d
- [x] translateX
- [x] translateY
- [x] translateZ

Validation:
- [ ] hsl
- [ ] hsla
- [ ] matrix

[2016-10-25 16:04] vanthiyathevan commented on #214
the $ref doesn't work when its inverted like `$container > &`.

[2016-10-25 19:07] kof commented on #214
@vanthiyathevan currently the & needs to be first character, but this can be chanchged, because it doesn't allow some other cases. Unrelated issue though.

[2016-10-25 20:35] kof opened #333 "[jss-nested] Allow & at any position"
So that more complex selectors like 'body & $ref' and similar possible.

[2016-10-25 20:36] kof commented on #333
cc @vanthiyathevan @b2whats

[2016-10-26 16:54] kof opened #334 "[jss-pseudo] Plugin enables the syntax :hover and others"
Why?
- Sometimes we don't need all the features jss-nested provides
- Most other cssinjs libs use ":hover" syntax

How?
If first char in the name is ":", its a pseudo selector (see jss-nested).

[2016-10-26 18:31] b2whats opened #335 "[jss-nested] Delete nested checked"
If you can provide a real life example where you really need deep nesting - we would love to know it.

[code]

[2016-10-26 18:36] kof commented on #335
duplicate #312

[2016-10-26 18:36] #335 closed

[2016-10-26 18:37] kof commented on #312
is someone on it?

[2016-10-26 19:27] kof commented on #314
done.

[2016-10-26 19:27] #314 closed

[2016-10-26 20:43] kof commented on #325
done

[2016-10-26 20:43] #325 closed

[2016-10-27 08:20] kof commented on #333
duplicate of #297

[2016-10-27 08:20] #333 closed

[2016-10-27 08:26] kof opened #336 "[jss-expand] Better documentation"
- don't use double array values in examples except of multi value values (it might confuse)
- rely on jss-preset-defaults in examples
- multi value values

[2016-10-27 10:16] cvle commented on #312
I can give it a go this weekend

[2016-10-29 06:08] cvle commented on #312
What should we do with the rule ` '& .a,  .b'`?
  1. Treat it the same as `'& .a, & .b'` or even substitute it
  2. Consider invalid, warn and skip processing
  3. Produce one nested rule with `.a` and one at the root level with `.b`

The most simple solution would be #1 where we just consider everything nested.

[2016-10-29 08:02] scalder27 opened #337 "A value of the "content" property is unboxing to incorrect CSS"
Correct at first look styles

[code]

will transform to css that doesn't work

[code]

Of course, there is a workaround.

[code]

But it doesn't feel right.

[2016-10-29 09:11] kof commented on #312
Just checked with [sass](http://www.sassmeister.com/), they go also for 1 - scoping all comma separated selectors.

[2016-10-29 09:17] kof commented on #337
Yeah, I was thinking back and forth  about it, on the one hand it is exactly what should be technically there as it is now, on the other hand, new users won't think that deep and also 2 quotes isn't very nice optically.

I think we should fix it and make the inner quotes optional by checking if they are there or not.

[2016-10-29 09:17] kof commented on #337
@scalder27 do you want to fix it?

[2016-10-29 10:04] scalder27 commented on #337
Yeah! Making inner quotes optional will be great! It will provide a backward compatibility and will be more convenient for new users.
I want to fix it. I'm not sure when exactly, but I'll do it.

[2016-10-30 20:45] sapegin opened #338 "devDependencies do not work in Node 7"
I wanted to send pull request but just increasing a version is not enough. devDependencies won’t install on Node 7 because of `codecov` which uses deprecated version of `graceful-fs` and this is the latest version of `codecov`.

[code]

They have an issue for that since June: https://github.com/codecov/codecov-node/issues/19.

[2016-10-30 20:48] kof commented on #338
Hmm, can we have different engines for dev and prod? Because its a dev only dependency.

[2016-10-30 20:50] kof commented on #338
Oh actually it shouldn't be a problem as long as we don't use engine-strict. You still can use node 7, right?

[2016-10-30 20:50] kof commented on #338
The only problem you get is when you try to install it for development, not as a dependency.

[2016-10-30 20:54] sapegin commented on #338
Yeah, it works fine but [breaks the CI](https://travis-ci.org/sapegin/react-styleguidist/jobs/171828852).

[2016-10-30 20:58] kof commented on #338
We can temporarily remove coverage, because it is actually currently broken anyways #301

[2016-10-30 20:58] sapegin commented on #338
Cool ;-)

[2016-10-31 00:59] #312 closed

[2016-10-31 01:00] kof commented on #312
Released with jss-nested@2.5.0

[2016-10-31 01:00] kof commented on #297
Released with jss-nested@2.5.0

[2016-10-31 01:00] #297 closed

[2016-10-31 01:17] kof commented on #226
How is it going? Can we possibly announce it on tuesday?)

[2016-10-31 01:50] kof commented on #336
@typical000  Just added jss-expand to the repl to play around easily.

[2016-10-31 13:00] kof commented on #338
Hmm, the probl is it is used not just in jss repository, but in many others, so maybe it is still better to actually fix this.

[2016-10-31 13:10] sapegin commented on #338
There’s even a quite old PR with a fix: https://github.com/codecov/codecov-node/pull/22

[2016-10-31 13:38] kof commented on #305
Its done, will be released soon

[2016-11-01 08:07] fresheneesz opened #339 "Similar project: Gem.js"
I know this isn't the best place for this, but I thought @kof might be interested in taking a look at [my take on javascript rendered styling](https://github.com/Tixit/Gem.js). Like this project, everything is properly isolated by using unique css class names, has mixin inheritance, and modularity. Unlike jss, Gem.js is both a view library and style library, and the styles are built as javascript

[2016-11-01 09:13] kof commented on #339
I will close it, but we can continue talking here.

[2016-11-01 09:13] #339 closed

[2016-11-01 09:16] kof commented on #339
It seems like your idea is similar to [styled components](https://github.com/styled-components/styled-components), to create "styled" primitives? Here is some [pseudo code](https://gist.github.com/kof/3277ee04d2100bab3e6c6c33656edce7) to do the same in jss.

[2016-11-02 06:43] fresheneesz commented on #339
"a full style set cascades... What does this mean?"

It means that if you have a style like:

[code]

`dropdown`s will be green and red by default, but `dropdown`s inside an `innerThing` gem will *not* have a red background. By defining an inner $dropdown style, it overrides the entire style set (including nested style sets). This is how gem.js allows you to style many different gems the same with

[2016-11-02 09:09] rofrischmann commented on #226
Have be away this weekend. Might continue this week :P So perhaps next week? We might release a first version without validation and add this later as I do not know how much time Ill have next weeks.

[2016-11-02 09:57] kof commented on #226
What kind of validation would we need?

[2016-11-02 10:15] kof commented on #339
It sounds like what we do in jss-nested plugin with slightly different syntax. Do you have inheritance isolation?

[2016-11-02 10:17] kof commented on #339
I think you got lots of good ideas there, but you are going a very opinionated path about everything and will have problem to make others use it.

[2016-11-02 16:54] grigory-leonenko opened #340 "Global styles do not fall into `sheets.toString()` method"
**As now:**
Global styles don't inlining if `sheets.toString()` method called, it's important to criticalCss styles. It's bug or some option must be specified?

[2016-11-02 16:59] kof commented on #340
What do you mean by global styles? What do you expect .... please describe the full situation.

[2016-11-02 23:47] kof commented on #305
released

[2016-11-02 23:47] #305 closed

[2016-11-02 23:47] #340 closed

[2016-11-02 23:50] #227 closed

[2016-11-03 00:09] kof commented on #220
We should take an example from styled-components, but preprocess those tagged literals serverside and convert to jss json.

[2016-11-03 00:12] kof opened #341 "[styled-jss] Styled Primitive Components"
Create a small library that allows to style primitives similar to styled-components. [Some pseudo code.](https://gist.github.com/kof/3277ee04d2100bab3e6c6c33656edce7)

[2016-11-03 00:16] kof commented on #317
@cvle can you help out with this bug?

[2016-11-03 00:25] kof opened #342 "Reduce file size"
Babel inlines a lot of utility functions. We need to make sure they are externalized. For a utility of this size its a huge overhead.

[2016-11-03 06:04] umidbekkarimov commented on #342
Here https://babeljs.io/docs/plugins/transform-runtime/ comes handy

[2016-11-03 08:04] fresheneesz commented on #339
"Do you have inheritance isolation like jss-isolate?"

Yes indeed. Every gem gets the default class which overrides inheritable properties.

"you are going a very opinionated path"

I'm curious what you mean about this, and what I could do about that. I certainly don't want to make it hard for people to use it.

[2016-11-03 08:41] rofrischmann commented on #226
e.g. color validation

RGB is valid if:
* R, G and B are percentage values
* R, G and B are integers within the range [0, 255]

HSL is valid if:
* H is a number; S and L are percentage values

and so on ...

[2016-11-03 09:20] kof commented on #339
Well, you already go against react + cssinjs. React is a leader, it will be very hard (or almost impoosbile)  to convince people to use your library instead.

[2016-11-03 09:21] kof commented on #226
Ah I see, we can for sure release it without it, not even sure its really needed, because one can tell if something is wrong optically.

[2016-11-03 09:58] fresheneesz commented on #339
Yeah, if I could separate the style part of it so that it works on raw dom nodes, it would be much more accessible to people using any view library. That might be doable actually.

[2016-11-03 10:35] kof commented on #339
Or you just take this library and contribute to it with your ideas)))

[2016-11-03 12:56] umidbekkarimov commented on #342
Results for `dist` bundles is not satisfying.
Current size:

<img width="665" alt="screen shot 2016-11-03 at 16 40 55" src="https://cloud.githubusercontent.com/assets/4734297/19966242/5c71c80a-a1e4-11e6-8efc-1a6ebcbb0e7a.png">

With `transform-runtime`

<img width="267" alt="screen shot 2016-11-03 at 16 41 03" src="https://cloud.githubusercontent.com/assets/4734297/19966243/5c723db2-a1e4-11e6-825d

[2016-11-03 12:57] cvle commented on #317
Sure, once I get some spare time, though this might take a while.

[2016-11-03 13:04] kof commented on #342
So why is it bigger with transform-runtime plugin?

[2016-11-03 13:05] kof commented on #317
Is it a matter of weeks?

[2016-11-03 13:13] umidbekkarimov commented on #342
`babel-runtime` also adds extra [helpers](https://github.com/babel/babel/blob/master/packages/babel-helpers/src/helpers.js). (not all of them, only required)

[2016-11-03 13:16] kof commented on #342
I am more concerned about the lib build, not the dist build. Most of the time people use it from the lib using their build tools and all the utils do not need to be inlined, they can be a dependency.

[2016-11-03 13:26] cvle commented on #317
Hm.. ok, let me take a first look at it next week. I'll write about what I find.

[2016-11-03 14:13] grigory-leonenko commented on #340
Yes i have app container with global styles:
[code]
And react-jss connector:
[code]
In server render middleware i'am trying to get my styles:
[code]
I expected global styles inlined to string, otherwise all this makes no sense get styles from modules, layout will broken.

[2016-11-03 14:35] kof commented on #340
This should work, is it possible that you didn't render your components at the moment you are trying to get the css string?

[2016-11-04 00:36] fresheneesz commented on #339
I find it difficult to understand how I would extend this library to do what I want to do. I'd have to spend a lot of time thinking about this - time I don't have at the moment. Maybe I'll revisit this in the future.

[2016-11-04 03:19] faceyspacey opened #343 "do you have to call `jss.setup()` once per file or once per app?"

[2016-11-04 09:53] kof commented on #343
Per App.

[2016-11-04 09:53] #343 closed

[2016-11-05 11:00] kof opened #344 "[jss-expand] Make border-radius part of border object"
Allow syntax like that `border: {radius: 1}`.

[2016-11-05 11:01] kof commented on #344
cc @typical000

[2016-11-05 11:08] kof opened #345 "[jss-default-units] default units for box-shadow"
Currently  x, y, blur, spread don't get a default value.

[2016-11-05 11:08] kof commented on #345
cc @typical000

[2016-11-05 11:20] kof commented on #301
There is a prob with node 7 #338 @nathanmarks can you help out with both issues?

[2016-11-05 11:29] kof commented on #336
An often complain I have heard is the need to use camel case for property names, kebab case is same bad because it requires quotes, but actually with jss-expand we don't have this prob any more because we can  use the expanded version in the most cases. A good thing to document.

[2016-11-05 18:17] kof commented on #219
done

[2016-11-05 18:17] #219 closed

[2016-11-05 18:17] kof commented on #163
done

[2016-11-05 18:17] #163 closed

[2016-11-05 18:22] kof opened #346 "Generated keyframe id"
Currently keyframe id's we use in jss are global. The questions are:
1. Do we want to generate a keyframe id to avoid conflicts?
2. Do we want to allow user to define the keyframe id optionally and generate it by default?
3. How would user access generated keyframe id?

Currently user can generate keyframe id like this, but I assume it is not very user friendly:

[code]

## Todo

[code]

- [x] gen

[2016-11-05 18:35] kof opened #347 "Unexpected specificity when 2 equal rules are in 2 different sheets"
As discussed with @nathanmarks, it is possible that 2 equal rules exist in 2 different sheets rendered at different times. Class name generation uses rules style object at the moment. It might be a problem when:

1. a: {color: 'red', float: 'left'}
1. b: {float: 'right'}
1. `<span class="a b" />`  - b is supposed to overwrite float prop in "a".
1. in different sheet  a: {color: 'red', float: 'left

[2016-11-05 18:36] kof commented on #347
Generated class name needs to be unique across all sheets and stay deterministic at the same time. We need to use some unique sheet identifier when generating class names for the rules.

[2016-11-05 18:39] kof commented on #347
One suggestion is to make class names of all rules before the current rule part of the key that is used to generate an id: `rule2Id = createHash(styles + rule1.id + rule0.id)`

[2016-11-06 00:19] nathanmarks commented on #347
@kof What happens to the other rules when 1 rule changes in the sheet or a new rule is added?

[2016-11-06 00:26] kof commented on #347
I think changing all the selectors would have too many implications, so for simplicity it should be static.

[2016-11-06 00:41] kof commented on #324
To sum up the discussion with @nathanmarks on gitter:

- we should call it @global to avoid conflicts
- we should support `@global button` case as well
- we should think of supporting @global  within other rules, so that its like nested but with less complex

[2016-11-06 16:02] nathanmarks commented on #347
Any noticeable overhead?

[2016-11-06 19:21] kof opened #349 "Use options.meta when generating class name"
cc @nathanmarks

[2016-11-06 19:27] kof commented on #347
You mean iterating over previous rules and taking their class names? Will measure it. I think it won't be a deal breaker. For sure if user would provide unique sheet names, it would be faster. If everything happens within `generateClassName` function, a higher level abstraction which has a sheet name can pass own generateClassName function and use the sheet name.

[2016-11-06 19:56] nathanmarks commented on #349
This could definitely help address https://github.com/cssinjs/jss/issues/347

[2016-11-06 20:20] kof commented on #349
@nathanmarks wanna take it?

[2016-11-06 20:38] nathanmarks commented on #349
Sure 👍

[2016-11-06 23:28] kof commented on #324
Just finished removing dependency to the "named" option in all repositories.

[2016-11-06 23:30] kof commented on #324
Now will start to implement:

[code]
and

[code]

[2016-11-06 23:51] kof commented on #324
Need  a list of all cases where @global should work, like inside of @media etc.

[2016-11-07 03:10] cvle commented on #349
I'm using meta to prepend my classNames too, this would simplify my code. Though I always had the feeling that I was misusing the `meta` feature. Any thoughts about introducing a new options parameter for this?

[2016-11-07 09:44] kof commented on #349
Why is it misusing and why to introduce another option for this? Initially I though meta for providing an info about a sheet. In react-jss it is used to put component name  on style tag name.

[2016-11-07 10:23] kof commented on #349
As I was reading the PR https://github.com/cssinjs/jss/pull/350 I realized why you think it feels like a hack. Its because the meta format passed by the user can be anything and we would need to normalize it before putting it into a class name.

[2016-11-07 10:42] giuseppeg commented on #346
I think so, users can make them global if they want #324

This would be a neat feature because often times animations are used only once. In fact I twitted [this same idea](https://twitter.com/giuseppegurgone/status/777862367183011840) once and made a [prototype](https://twitter.com/giuseppegurgone/status/777883190094618624)

[2016-11-07 10:49] giuseppeg commented on #324
fwiw CSS Modules calls this `:global`

[2016-11-07 10:51] kof commented on #346
Good catch regarding #324, haven't thought about this particular case yet. Needs to be considiered!

[2016-11-07 11:44] cvle commented on #349
For me `meta` was for attaching an arbitrary piece of information to a stylesheet that must not directly relate to debugging/namespacing purposes. So it could be in any format and might not make sense prepending to a class name depending on the use case. Though to be honest I couldn't think of any other use case yet for `meta` other then for providing an identifier to a style sheet. The term `meta

[2016-11-07 12:05] kof commented on #349
Yeah, you are right.

[2016-11-07 12:06] kof commented on #349
Maybe in order to not to have to normalize the meta in order to be part of class name, we should think of a different property name to be used specifically as a class name prefix? @nathanmarks ?

[2016-11-07 14:27] kof commented on #347
1. Update: using other rules class names seems a bit complicated.
2. Another idea is to provide an "id" option which is unique for the sheet. But the problem is then that we require a user to ensure the uniqueness.
3. Using `createShash(meta + name + styles)` to generate an id would solve that problem for 99% of cases, no guarantee though.

[2016-11-07 14:28] kof commented on #349
As discussed, to guarantee class name valid string, we need either to do a lot of parsing or a new property which is expected to be  class valid.

[2016-11-07 14:29] kof commented on #349
One suggestion is to use a generic `name` or `id` field. But at the end, abstractions can always overwrite the `generateClassName` function and built the class name using data they have. So for now we are putting it on hold.

[2016-11-08 03:05] AlastairTaft opened #351 "media queries without a space before the bracket do not work"
If I have the following code

[code]

I get the following style sheet output on the page
[code]

which isn't correct. If I then add whitespace to the media query (after 'media' before the bracket).
[code]
I get the correct output.
[code]

[2016-11-08 07:48] kof commented on #351
Sounds like a task for a linter #255

[2016-11-08 12:43] grigory-leonenko commented on #340
Yep, it's my fault improperly built structure of routes.

[2016-11-09 13:30] nathanmarks commented on #351
@kof I think he's saying that `@media(` without a whitespace is valid CSS, but it is causing the output to break with `jss`:

[code]

[2016-11-09 13:31] nathanmarks commented on #351
@kof I think he's saying that `@media(` without a whitespace is valid CSS, but it is causing the output to break with `jss`:

[code]

[2016-11-09 13:36] kof commented on #351
Oh my bad.

[2016-11-10 03:45] jedwards1211 opened #352 "[aphrodisiac] ssr needs to clean up styles"
I'm starting a simple server-side rendered app with home and about routes, using aphrodisiac.  I just do
[code]

When I visit `/` for the first time, I just get the CSS specific to that route.  Then I go to `/About`.  The CSS rules for `/` get served up in addition to the rules for `/About`, because they're stuck in the global `JSS` state on the server side.

If `StyleSheet` simply provided a `cle

[2016-11-10 03:50] jedwards1211 commented on #343
@kof what about during ssr?  I don't even see a call to it in the ssr example.

[2016-11-10 08:32] kof opened #353 "Remove all sheets from the registry"
Lets introduce a convenience method to remove all sheets from the registry at once. It can be used for testing, but mainly for SSR, when a new request comes in.

[2016-11-10 09:05] kof commented on #343
Thats because the example is using react-jss, which did the setup already. You don't necessarily need to do the setup at all.

[2016-11-10 09:56] kof commented on #324
One naming conflict came up as we discussed this feature with @mxstbr: what do we call global, stuff like: `button  {color: red}`  or also stuff like `.my-button-123345 span {color: red;}`. In the first case we use a selector which applies to the entire document, in the second its a scoped selector. Is the second case still global in terms of terminology?

[2016-11-10 10:08] giuseppeg commented on #324
Yes and no, it will affect the entire subtree and in my opinion it shouldn't be valid or allowed otherwise we are going back to the old and not isolated css :)

[2016-11-10 10:30] kof commented on #324
I think its fine to keep the '@global' name also when nesting them.  I would see it as global in terms of what is generated after this keyword.

[2016-11-10 10:31] giuseppeg commented on #324
To clarify I think that those kind of rules are still `global`.

When you scope a selector like `button` there is a context switch, now global rules defined within this new context are relative to it.

The default context is the document or `:root` element.

[2016-11-10 12:44] kof commented on #352
Unfortunately (or luckily), aphrodisiac knows nothing about react. Which means it doesn't know when a new response comes in, I have just added reset() and toString() to the api, [see](https://github.com/cssinjs/aphrodisiac#serverside-rendering) Let me know if it works for you and I will publish a new version then.

Another possibility for you is to create a module with a get() function, which retu

[2016-11-10 12:46] kof commented on #353
Same is in aphrodisiac #352

[2016-11-10 12:47] cvle commented on #317
I tracked down the bug in `css-vendor`.

IE screwed up again and behaves like this:
[code]
[code]

I'm preparing a PR.

[2016-11-10 12:54] kof commented on #317
hmm, how can we fix that?

[2016-11-10 12:56] mxstbr commented on #324
The reason you need this escape hatch is for the following case:

[code]

How do you now style the contents with JSS if you have no way of attaching class names? You can't without the global.

Sure, this isn't an everyday use case but I've run into this problem a handful of times in two years of doing React and I wouldn't want to add a CSS processing pipeline just to style one div's contents.

[2016-11-10 14:15] kof commented on #324
@mxstbr it sounds like you just confirmed our current plan for `@global` implementation. In your particular example you could style its contents using global css scoped to document as well as scoped to the div by adding a class to it: `<div className={classes.something} dangerouslySetInnerHTML={{ __html: someHtmlString }} />` and then scoping global stuff inside of the "something" rule.

[2016-11-10 15:18] jedwards1211 commented on #352
@kof I think this is a problem with `jss`-only SSR too.  I don't see any indication that the SSR example would clean up styles between requests.

I think I may decide not to use aphrodisiac and just create a different instance of `jss` for each request, passing it down through react `context`, and create something very similar to `react-jss` that gets `localJss` from `context` instead of as an arg

[2016-11-10 15:23] cvle commented on #353
Sharing one global JSS instance for SSR is not save when requests are processed concurrently.

[2016-11-10 15:24] kof commented on #352
Yes, in react context, we can use a provider to pass jss over context. Lets create an issue in react-jss and yes I like it.

[2016-11-10 15:24] kof commented on #352
As for aphrodisiac, it is still important I think, because it should work without react as well.

[2016-11-10 15:25] jedwards1211 commented on #352
@kof wait, my approach would fail to cache style sheets, right?
If a `StyleSheet` were not bound to a specific global registry, and could be attached to any local jss registry that was passed in, then there would be no need to create a new `StyleSheet` for every request.

[2016-11-10 15:25] kof commented on #353
It is safe as long as renderToString call is sync.

[2016-11-10 15:28] kof commented on #352
lets discuss it in a separate issue in react-jss repository.

[2016-11-10 15:28] jedwards1211 commented on #352
okay

[2016-11-10 15:31] cvle commented on #353
Correct, I just want to make sure that we mention this, in case we advocate this approach.

[2016-11-10 15:50] mxstbr commented on #324
Yeah that's exactly right, this was in response to the earlier

[2016-11-10 16:22] giuseppeg commented on #324
That is exactly how [scoped styles](https://css-tricks.com/saving-the-day-with-scoped-css/) worked – the idea was abandoned for the same reason I explained.

However I see the benefit of supporting such a feature for use cases like @mxstbr's.
I am just trying to think if there is a better way, maybe `dangerouslySetGlobalStyles` otherwise shrug `@global` is perfectly ok.

[2016-11-11 10:26] cvle opened #354 "[css-vendor] supportedValue is generally broken"
Supported values for some shorthand properties always returns false: e.g. in Firefox:
[code]
[code]
The style property returns:
[code]
Same happens with transition values and probably with others. Some shorthand values get processed by the browser and returned in a different form, preventing the current mechanisms from performing correctly.

[2016-11-11 10:43] cvle commented on #354
This returns false too in chrome and firefox and possibly others:
[code]
[code]

[2016-11-11 10:51] kof commented on #354
wondering how this has worked before.

[2016-11-11 11:32] cvle commented on #354
We can use a similar but slightly different way to detect whether a value is supported. Instead of setting and testing for equality we do this:

- Set the value to be tested.
- Check whether browser has changed the style value
- Reset style value
- Return true when browser has changed the style value, otherwise false

This should do the trick

[2016-11-11 13:01] kof commented on #89
We need to migrate tests there to mocha and co like in the jss repository and also add browserstack, because this really really needs a CI with real browsers.

[2016-11-11 13:43] cvle commented on #89
I totally agree.

[2016-11-12 07:25] typical000 commented on #345
@kof created PR https://github.com/cssinjs/jss-default-unit/pull/10

[2016-11-12 10:56] kof commented on #338
A workaround `yarn install --ignore-engines`

[2016-11-12 11:36] kof commented on #345
sovled!

[2016-11-12 11:36] #345 closed

[2016-11-12 20:18] typical000 commented on #344
Solved, created PR, you can review it here:

- Added back forgotten npm command for 'benchmark'
- Added possibility to create custom properties (included border-radius)

For e.g., if we add in props.js scheme like this

[code]
In JSS we can write this:

[code]
Result will be:

[code]

But this feature need more sophisticated approach about integration with *jss-default-unit* because as much we cre

[2016-11-12 22:59] kof opened #356 "Dynamic Sheets for theming and animations"
The idea is to have value functions and rule functions which accept an object and let JSS render them dynamically. This will allow us __efficient__  dynamic theming. The idea has been around for a while, but this time me and @nathanmarks have got a plan.

## What signature will value function and rule function have?

[code]

## How do we know if a rule or prop needs a rerender?

We don't, we just

[2016-11-13 06:24] typical000 commented on #344
Maybe make 'expandedPropObj' (renamed to customPropObj) public as option for plugin so users can create their own new rules? And document it

[2016-11-13 08:35] cvle commented on #228
I'm still working on the typescript definitions for jss and its plugins. This would be of good help!

[2016-11-13 08:48] cvle commented on #356
So when the sheets are updated rules will change but the class names will remain the same right?

[2016-11-13 10:33] kof commented on #356
Yes, we need to keep class names static, because we have no way to update the class name on an element from jss stand point.

[2016-11-13 10:55] kof commented on #344
Hmm, we can do that, even if probability someone will use it is not high. I think for public api a better name is "customProps".

[2016-11-13 12:35] kof commented on #356
Updated the description.

[2016-11-13 15:46] jcperez-ch commented on #356
Ok, I see that the end goal is to have an internal solution for `JSS` and not related to `react-jss` specific.

I just finished to pulish a fix for my [PR](https://github.com/cssinjs/react-jss/pull/53) that allows a ThemeProvider in React to inject a theme descriptor (meaning an object that defines variables) to provide those variables to all decorated Components using the current theme.
The usage

[2016-11-13 17:01] typical000 commented on #344
Just realized, that we can solve with this piece of code:
[code]
- Font property issue described in readme.md (due to existanse of symbol `/` inside stynax that separates `font-size` and `line-height`)
Original text from readme:

This plugin doesn't support font property written in expanded way. This is because plugin must have maximum performance, and all exceptions like in font way of writing (j

[2016-11-13 17:24] typical000 commented on #344
About my previous thing about making custom properties object public.
I have just thinked about performance. It will slow down entire JSS if someone will add his 'custom styles'. Because:

1. Extending object is a bit hard operation. And as I inspected - it will be done on every rule.
2. `Object.assign` doesn't work in IE :( And I don't want for one method install third party libs like `lodash` et

[2016-11-13 18:46] mxstbr commented on #356
Just mentioning here that your apporach @jcperez-ch for the ThemeProvider will break, because in React pure components block context updates. You need to have an event listener (like `react-broadcast`) to avoid this issue, which is what `react-router`, `redux` and also `styled-components` do. (see [here](https://github.com/styled-components/styled-components/blob/master/src/models/ThemeProvider.js

[2016-11-14 00:11] jcperez-ch commented on #356
@mxstbr I understand the fact that pure components won't update if context changes.  But the components that consume the `theme` context are the wrappers (meaning the JSS Wrapper which won't be pure), not the wrapped components.  I am not sure if I need to tweak the shouldComponentUpdate function, but I kinda feel confident that it won't affect wrapped components since the `sheet` prop injected by

[2016-11-14 09:03] mxstbr commented on #356
No, pure components _block_ context updates. If a component returns `false` from its `shouldComponentUpdate`, none of its children get the context update, even though they should.

Imagine a `NeverRerender` component:

[code]

Now if you have a component tree like this:

[code]

The `ThemedButton` will **never ever** update its theme, even if you change the `theme` prop of the `ThemeProvider`, bec

[2016-11-14 10:18] cvle commented on #356
Please refocus on the proposed idea, which is a solution independent of react.

[2016-11-14 11:52] umidbekkarimov commented on #301
Maybe it's worth to replace codecov with nyc (istanbul) ?

[2016-11-14 11:57] kof commented on #301
Maybe, especially because we have multi repo approach and run tests from other repos here.

[2016-11-14 11:59] cvle commented on #301
`nyc` has some issues with es6 modules. I recommend this project instead https://github.com/gotwarlost/istanbul.

[2016-11-14 12:15] cvle commented on #301
But the two projects previously mentioned doesn't work with karma+webpack. We would need [istanbul-instrumenter-loader](https://github.com/deepsweet/istanbul-instrumenter-loader). They are almost done solving the [`source-map` issue](https://github.com/deepsweet/istanbul-instrumenter-loader/pull/29) in order to remap to the original source files. As far as I know, we cannot have codecov with karma

[2016-11-14 12:39] kof commented on #344
We use already {...} all over the place, its fast enough most of the time, especially as the config thing is a one-time task.

[2016-11-14 13:48] jcperez-ch commented on #356
Gotcha now. Indeed a solution independent of react is ideal. Thanks again for the clarification

[2016-11-14 15:22] typical000 commented on #344
Config thing is not one time task. Because the main, global entry point for plugin is fired on each rule https://github.com/cssinjs/jss-expand/blob/master/src/index.js#L98-L113
So, each rule we must expand original object with passed params. Or there is something that I don't understand and don't see simple solution? :(

[2016-11-14 15:26] kof commented on #344
I thought you would allow a config when you setup a plugin
[code]

[2016-11-14 17:03] scalder27 commented on #337
I was thinking about values of the content property. There are a lot of possible variants, including values with no quotes:

[code]

This issue will require a whitelist of values and a lot of checks. Moreover, I'm afraid this behavior could be misleading, and error prone.

Maybe it doesn't worth efforts. And a note in the docs will be sufficient.

[2016-11-14 17:08] kof commented on #337
Ah, exactly, now I recall why I decided to not fixing it. You would need to maintain all possible values in order to know what needs quotes.

[2016-11-14 17:08] #337 closed

[2016-11-14 20:05] kof opened #357 "jss.version is broken"
Lately I started to use cross-env, but that broke current way for version env variable replacement.

I was already looking to replace the current solution by babel-plugin-inline-package-json. But this one only supports "require" calls, no imports.

I am happy to any suggestions or maybe someone can fix that babel-plugin, or we just use a require in this case but its not nice.

[2016-11-14 20:29] kof commented on #351
waiting for a bigger release comming soon.

[2016-11-14 20:29] #351 closed

[2016-11-14 20:32] #354 closed

[2016-11-14 20:46] umidbekkarimov commented on #357
Here you go http://astexplorer.net/#/O0SIDMBBNi

[2016-11-14 20:48] kof commented on #357
The problem is to replace the version using package.json so that we don't have to maintain it in 2 places.

[2016-11-14 20:49] kof commented on #357
Ah so you suggest to use an own transform and require the package.json manually ... that could work as well.

[2016-11-14 21:00] kof commented on #344
Just merged the pr, please open a new issue if you want to add this customProps thing as a public api, for now its not very important.

[2016-11-14 21:00] #344 closed

[2016-11-14 21:07] umidbekkarimov commented on #356
What about streams?

[code]
____

Aslo something related https://github.com/davidkpiano/RxCSS

[2016-11-14 21:09] typical000 commented on #344
About `customProp` is, after some benchmarking, a little controversial thing. Because it slowed performance of entire plugin by 15% (tested on small jss file with 3 selectors, 1 custom property), and by 10% WITHOUT using this custom properties (just loosing performance on checks like `if`).

As for me, considering that is not so very important feature, and it will be a small percent of users who w

[2016-11-14 21:15] kof commented on #356
Streams seems to be out of scope for this issue, it can be a separate library. This issue is about a lower level implementation I think. I would be more than happy if someone does a streaming abstraction on top of jss though.

[2016-11-14 21:16] umidbekkarimov commented on #357
Yep, I can create PR, tomorrow.

[2016-11-14 21:16] kof commented on #344
There should be a way, but I can't dig into it because other things have higher prio.

[2016-11-14 21:17] kof commented on #357
Cool, where do you put that transform function?

[2016-11-14 23:00] kof commented on #336
Ok I went through the documentation, simplified it a lot, lets get some feedbacks if this is ok, closing it for now.

[2016-11-14 23:00] #336 closed

[2016-11-14 23:01] kof commented on #336
Will wait until tomorrow for feedbacks regarding documentation and do the announcement.

[2016-11-14 23:03] typical000 commented on #336
Cool!!! Tomorrow I'll take a look to docs too. Maybe we forgot something.

[2016-11-14 23:26] kof commented on #336
Added jss-expand to jss-preset-default and added it to the general documentation for plugins setup.

[2016-11-15 08:58] kof commented on #357
fixed, will be released with the next major release.

[2016-11-15 08:58] #357 closed

[2016-11-15 09:28] kof opened #359 "[glamor-jss] glamor api for jss"
People seem to like [glamor](https://github.com/threepointone/glamor) api, lets provide them a one using jss. It will be similar to [aphrodisiac](https://github.com/cssinjs/aphrodisiac) minimum lines of code.

[2016-11-15 09:46] giuseppeg commented on #359
...and [glamor seem to like styled-components](https://twitter.com/threepointone/status/798404047518765056) :D

[2016-11-15 09:50] kof commented on #359
Yes, styled-components also uses a part of glamor. Its just about providing different interfaces to people  and make it more convenient. A much harder part is the entire dsl and testing and rendering. But people tend to pick the library just based on its public interface, so its important to provide different interfaces for different tasts.

[2016-11-15 09:59] kof commented on #78
I think we need to create a landing page in order to render a composed documentation view from all plugins.

[2016-11-15 09:59] kof commented on #78
Nobody will go through every plugin page and read that documentation.

[2016-11-15 10:00] kof commented on #78
Also we are currently hiding the entire power of jss + plugins by not having one place where the entire thing is documented.

[2016-11-15 10:09] giuseppeg commented on #359
yeah we'd need to find or write a super efficient parser to convert strings and from there jss would take over the preprocessing.

[2016-11-15 14:33] typical000 commented on #78
@kof You are right. My idea was to create `json` file for navigation like
[code]

[2016-11-15 14:44] kof commented on #78
I think its easier to get the md files locally when all plugins are installed.

[2016-11-15 14:48] typical000 commented on #78
Main idea was to use the same MD files that are used inside jss and jss plugins repo. So we don't need to change in 2 places them if we add new features :)

[2016-11-15 14:53] kof commented on #78
That should be definitely the case, we can't duplicate them.

[2016-11-15 21:27] jedwards1211 opened #360 "unable to get sheets from local jss used in a component during SSR"
If a module (e.g. for a React component) creates its own jss so that it can specify which plugins it needs, all works fine -- on the client side, since each sheet gets attached to the DOM.

But when doing server-side rendering, the current proposed method is to get the sheets from the global jss instance -- which wouldn't include sheets from any of the local jss instances used by some modules.

Th

[2016-11-15 21:32] jedwards1211 commented on #353
I'd still like to see creating a separate sheets registry for each request become the recommended solution

[2016-11-16 20:01] kof commented on #360
What is the use case where you would want to create separate jss instances ins specific components? The idea for separate instances was not because you could create a jss instance in every component. It was because you could create an instance for the project.

[2016-11-16 20:03] kof commented on #353
Me too.

[2016-11-16 20:50] kof commented on #89
I think we need to use something like [this](https://github.com/rofrischmann/inline-style-prefixer/blob/master/modules/static/prefixProps.js) to verify the test results.

[2016-11-16 23:25] kof commented on #89
migrated the tests

[2016-11-16 23:40] kof commented on #317
Rewrote tests, added ci with browserstack, no need to fix some failing tests and then I can take a look at this thing. If you can help me fixing those failing tests, it would speed up everything.

[2016-11-16 23:41] kof commented on #317
Do you have a browserstack account u can use ?

[2016-11-17 00:32] jedwards1211 commented on #360
@kof I'm thinking about the future where people use jss in React library components.  If those libraries need specific jss plugins, and they don't create a local jss instance, they have to tell the user to put those plugins in their global jss config.  And it's even possible that two libraries would need conflicting jss plugin config.

So I think the best pattern for library components is to creat

[2016-11-17 00:37] kof commented on #360
Yeah, makes sense to me. So we allow them to use different jss instances, but they are able to grab the sheets registry from the context and though everything can be aggregated.

[2016-11-17 01:55] #353 closed

[2016-11-17 09:03] zerkalica opened #361 "Typescript definitions for JSON DSL."
Do you think about typesafe styles builder, like [typestyle](https://github.com/typestyle/typestyle) ?

[2016-11-17 10:33] kof commented on #361
Thats super nice! I would love types such types annotations for typescript as well as for flow. But I don't have resources for it. I can keep the issue in case some will see it and wants to implement.

[2016-11-17 11:25] cvle commented on #89
Sounds like a good idea!

[2016-11-17 11:26] cvle commented on #317
Unfortunately not.

[2016-11-17 11:31] kof commented on #317
Ping me on gitter, I will give you access to my browserstack account.

[2016-11-17 13:07] cvle opened #362 "Typescript type definitions for the API"
I'm already working on it. This can be assigned to me.

[2016-11-17 13:07] cvle commented on #361
I opened an issue specifically for typescript type definitions that I'm already working on: https://github.com/cssinjs/jss/issues/362

[2016-11-17 13:08] kof commented on #362
I thought you are working on types for jss api, but you are working on it for the json dsl as well?

[2016-11-17 13:11] cvle commented on #362
I might have misinterpret the other issue. I'm focusing on the API.

[2016-11-17 13:12] kof commented on #362
exactly!

[2016-11-17 13:21] kof commented on #362
Ping me when typescript annotations are usable, I will make an announcement on twitter! Closing this issue as I don't see why we need it.

[2016-11-17 13:31] cvle commented on #362
My thought was keeping this, so that:
- the community can see that we are working on it
- can track the progress

Anyway I will ping you when they are ready to be discussed.

[2016-11-17 13:33] kof commented on #362
Ok, then reopening.

[2016-11-17 13:36] cvle commented on #361
To clarify my previous comment. The typescript definitions I'm working on will focus on the API and not the full JSON DSL.

[2016-11-17 13:39] kof commented on #361
Also, if we have type definitions we don't need a css linter, right or do we?

[2016-11-17 13:45] ai commented on #361
Nope. Linters is not only about right value for right property. There are many other rules. For example, that all proprerties are supported by all browsers. All that this two colors are too similar and user will not see a difference. Or warning about slow CSS properties (Facebook has custom rule for it).

[2016-11-17 19:24] kof commented on #352
released aphrodisiac with a reset function, closing this.

[2016-11-17 19:24] #352 closed

[2016-11-17 19:34] kof opened #363 "Adding an @media rule throws in this case"
Original issue https://github.com/cssinjs/aphrodisiac/issues/4

Reproducible when you call `.addRule()` without `float: left`.
[code]

[2016-11-18 04:29] tiagojsalmeida opened #364 "Performance issues?"
Hey guys.

My friend @PepijnSenders made some quick benchmarks with some css-in-js libraries like yours here: https://github.com/PepijnSenders/css-in-js-perf-tests/

JSS turned out to be the slowest and we would like to know why and if you have plans to improve performance.

[2016-11-18 07:08] cvle commented on #364
You are not using `jss` correctly. At the moment you have to create a separate `jss` instance on each run, otherwise the style sheets will pile up.

[code]
[code]

The number will probably be even better, when we provide a way to reuse the `jss` instance for SSR (e.g. separate style sheet registry)

@tiagojsalmeida By the way you didn't include the cxs dependency in your project.

[2016-11-18 07:41] cvle commented on #364
`glamor` is caching the style sheet using a hash, so it only creates a style sheet on first run and uses the cache on subsequent runs. This why it performs fast in this benchmark.

@kof Do you think a similar caching mechanism would benefit `jss`?

[2016-11-18 08:13] PepijnSenders commented on #364
Hey @cvle, thanks for clearing that up for us. I also removed the cache from glamor after every run, so the results should be even better:

[code]

[2016-11-18 08:25] cvle commented on #364
This looks a lot better 👍

[2016-11-18 08:57] kof commented on #364
Guys, you are awesome, thanks for making that bench, I wanted actually to do it in the main bench runner, was really curious. I am actually surprised that aphoridite and glamor are only +-50% slower.

Aphrodite is using asap, aren't you measuring air there?

[2016-11-18 09:18] kof commented on #361
https://github.com/typestyle/typestyle/issues/37

[2016-11-18 10:13] kof commented on #364
@kof Do you think a similar caching mechanism would benefit jss?

Yeah there is def. a  room for some caching here. Lets create a separate issue.

[2016-11-18 10:36] kof commented on #364
Did any one take a look why is cxs fast?

[2016-11-18 11:30] PepijnSenders commented on #364
@kof check out the updated tests.

[2016-11-18 12:42] cvle commented on #361
The JSON DSL of `jss` depends on what plugins are used. Due to this dynamic nature, I don't think we can provide exact type definitions.

For example this is only valid when `jss` is used with the `jss-camel-case` plugin:

[code]

And this is only valid when `jss` is used with the `jss-default-unit` plugin:
[code]

The list goes on and on.

I'm still thinking about whether we could provide typescr

[2016-11-18 12:55] cvle commented on #361
typescript only ensures that you are using a valid type, and not if you are using a valid value. So linters are necessary.

`typestyle` has a static JSON DSL as they don't support plugins. This makes it a lot easier for them to have a typesafe JSON DSL.

[2016-11-18 12:55] kof commented on #361
So can be select type defs, depending on what plugins are used?

[2016-11-18 12:56] kof commented on #361
Optionally, typings can be done for a default preset.

[2016-11-18 13:06] cvle commented on #361
We could probably do something like this:
[code]

And when a user needs different plugins, they need to define their own type:
[code]

And without type checks:
[code]

[2016-11-18 13:08] zerkalica commented on #361
Or generate type defs from multiple plugins.

CustomType often is combination of some plugins.

[code]

[2016-11-18 13:19] cvle commented on #361
We probably can find a way to provide "building blocks" to help users combine their own "CustomType" easily.

[2016-11-18 13:22] cvle commented on #361
@zerkalica An automated type generator would be the holy grail, but let's get there in smaller steps :-)

[2016-11-18 13:35] zerkalica commented on #361
Smaller step is type definition for common set of plugins.

[2016-11-19 11:12] PepijnSenders commented on #364
FYI, the repo location changed: https://github.com/hellofresh/css-in-js-perf-tests

[2016-11-19 11:12] kof commented on #364
Haha just wanted to link it in the docs)) good timing

[2016-11-19 11:13] PepijnSenders commented on #364
Hehe, that is very good timing indeed.

[2016-11-19 11:13] kof commented on #364
If you want we can also put it into cssinjs repo.

[2016-11-19 11:14] PepijnSenders commented on #364
I think it looks more independent if we keep it there right? 😉

[2016-11-19 11:14] kof commented on #364
So it doesn't make an impression bench is optimized for jss?))) I think it doesn't matter because the code is open.

[2016-11-19 11:15] kof commented on #364
But I don't really care, I thought it would be better for discoverability and from namespace perspective. U would need to maintain it anyways)))

[2016-11-19 11:18] PepijnSenders commented on #364
That's true 😄, there's also a blog post coming up that's in draft mode right now. But let's leave it the way it is for now.

On a different note, I saw you also reside in Berlin, we should grab a ☕️ some time #notarecruiter.

[2016-11-19 11:18] kof commented on #364
Only if you really #notarecruiter)))))

[2016-11-19 11:30] #364 closed

[2016-11-19 11:31] tiagojsalmeida commented on #363
@kof any investigation regarding this issue?

[2016-11-19 11:32] kof commented on #363
Didn't come to it yet, but soon. I actually already know what to do there, just need a bit time.

[2016-11-19 11:33] tiagojsalmeida commented on #363
Awesome! Thanks @kof ;)

[2016-11-19 14:18] typical000 opened #365 "[jss-expand] Support for transform property"
Recently, I wrote a little piece of styles where I have used a lot of `transform` properties.
So I have faced the problem, that we don't have any good solution to write this prop.

Now in JSS we write:
[code]
What if we extend functionality of jss-expand to write in this manner:
[code]
And the output
[code]

@kof wdut?

[2016-11-19 15:37] kof commented on #365
thought about it already, I think it will be already nice by using css-functions package, which is almost ready:  ‘transform: translate(...)’

Sent from my iPhone

[2016-11-19 18:23] trusktr opened #366 "How to get reference to generated style element?"
I have a small problem: I'm using ShadowDOM. This means that the global styles generated by JSS don't apply inside of shadow roots.

One solution (which I don't like, and which is [probably the only solution at the moment](https://github.com/w3c/webcomponents/issues/609)), is to copy the `textContent` of global `<style>` elements (or clone them) into new `<style>` elements inside of the shadow roo

[2016-11-19 19:47] oliviertassinari commented on #242
I have got a similar issue with this [line](https://github.com/callemall/material-ui/blob/next/src/TextField/TextField.js#L22) `content: '\'\'',`.
IE11 is throwing right [here](https://github.com/cssinjs/css-vendor/blob/master/src/supported-value.js#L50).
Using `content: '""',` solves the issue.

[2016-11-20 00:51] kof commented on #296
@wldcordeiro can we get rid of jsdoc comments now? What do u think about [this](https://github.com/Kegsay/flow-jsdoc). At some point I would love to generate documentation from code. Flow doesn't seem to support it, somehow we need to annotate all arguments.

[2016-11-20 01:52] kof commented on #365
not sure if its worth it to have it additionally using the syntax you suggested if we have already functions like translate3d() in js.

[2016-11-20 01:55] kof commented on #366
Even if you get the style element and get its content, it doesn't really solve you problem. The probelm is shadow dom, not jss. It doesn't play nice with global css.

[2016-11-20 02:02] kof commented on #366
for you hack its `sheet.renderer.element`

[2016-11-20 02:02] #366 closed

[2016-11-20 07:33] typical000 commented on #365
Ok. css-functions looks like good solution, and there are support of multiple functions inside one selector.
But when I tried css-functions - there are little problems:
1. Current repo is not published yet. If you clone repo now - you recieve only `readme.md` and `package.json` :)
2. There is no integrations with plugins (precisely with jss-default-unit). All my code is written without units (exce

[2016-11-20 10:32] kof commented on #366
Or you could simply get the css string from sheet by `sheet.toString()`

[2016-11-20 10:33] kof commented on #366
Also you could clone the node `sheet.render.element.cloneNode()` and insert it in your root, maybe this is the fastest way.

[2016-11-20 10:37] kof commented on #242
Hmm, do we need to fix this?

[2016-11-20 10:41] oliviertassinari commented on #242
Your call, I have a white screen when using `content: '\'\'',` with no warnings.
My previous comment is for anyone facing the same issue, so they get a quick workaround.

[2016-11-20 10:43] kof commented on #365
We thought about it already. I don't see any good way to integrate default-units there, as it is designed to set defaults for specific props. We would need to start mixing functions into it. It will get default unit to  px if value is a number though. In the most cases its enough, do you see any cases where we would need more?

[2016-11-20 11:04] kof commented on #242
It is fixable in theory, but a bit too much hustle considered this spec: https://developer.mozilla.org/en-US/docs/Web/CSS/content

[2016-11-20 21:04] kof commented on #93
This should be done in collaboration with #78

[2016-11-22 17:23] jtag05 opened #368 "React Native Support"
First of all, thank you for the incredible library. It really solves so many fundamental issues I had with embedding CSS in my react projects.

I recently began work on a bit of a test project using react-native to build a universal app and would really like to incorporate JSS. I see that react-native support is on the roadmap, so I was wondering if there has been any attempts at this thus far? If

[2016-11-22 20:31] kof commented on #368
Not yet, also I need to learn react-native first, so can't predict when this may happen. If someone is experienced in react native and can tell what jss needs to addd to support it I am happy to support it of course. Will leave this issue as a reminder in case some one wants to help out.

[2016-11-23 07:25] cvle commented on #356
I am concerned about whether the keyword `props` might end up confusing for React users as in React `props` is a distinct concept that describes component inputs. Alternatively we could use `vars` as for Sheet Variables or Theme Variables. The latter term is commonly used for css based themes.

[2016-11-23 08:22] sapegin commented on #338
I’m thinking about the right solution for this problem because it also won’t install in Node 4. And yarn treat `engines` as a an error, while npm as just a warning.

Probably we should use `engines` only to specify requirements for package consumers, not for developers. For JSS I’d set it for `>= 4`.

For developers `engine` field of packages in `devDependencies` should be used. For example if you

[2016-11-23 09:24] kof commented on #356
I think if you use it with react, you will really pass the props.

[2016-11-23 09:29] kof commented on #338
Hmm, how would you know which node version to use if you  want to install it for development?

[2016-11-23 09:29] kof commented on #338
Documentaiton?

[2016-11-23 09:32] kof commented on #338
I think you are actually right, using node for installing frontend packages brought this ambiguity for engines, it was always ment for the end users in node.

[2016-11-23 09:33] sapegin commented on #338
Contribution guidelines I think is the best place since there's no way to separate engine requirements.

[2016-11-23 09:33] kof commented on #338
Sometimes problems are so easy to fix!

[2016-11-23 09:36] sapegin commented on #338
Will you accept PRs with these changes? Update engines to `>=4` in jss, react-jss, etc.

[2016-11-23 09:36] kof commented on #338
yes!

[2016-11-23 09:52] sapegin commented on #338
Done!

[2016-11-23 10:22] #338 closed

[2016-11-23 10:36] cvle commented on #356
It wasn't clear for me on the proposal, so props can be updated on a per style sheet level. 👍

[2016-11-24 03:31] cvle commented on #356
I thought about this more. Because the class names remain static as you said, this wouldn't work for React. Normally we share a StyleSheet among the same components, changing the StyleSheet according to one's individual props will change the appearance of all other components of the same kind.

Styled-Components creates new class names for each change, that can be reused among the same components.

[2016-11-24 11:57] kof commented on #359
To clarify: this is not about an api with tagged template string literals. Its about the default glamor api, basically its just, but mapped to a more higher level glamor api.

[code]

[2016-11-24 12:01] kof commented on #324
@nathanmarks do you think we should create 2 separate plugins for @global in the root and @global as a nested rule? It may be even in one package, but separately installable plugins. Because if someone uses jss-nested and nested @global statements they partially have the same functionality. So people may want to pick just one.

[2016-11-24 12:33] kof opened #370 "[jss-expand] More array syntaxes"
Currently we have a limited number of props which support array syntax without double arrays. Should't we add more of them? https://github.com/cssinjs/jss-expand/blob/master/docs/index.md#using-arrays-for-space-separated-properties

for e.g. `border: [1, 'solid', borderColor]`

[2016-11-24 12:33] kof commented on #370
@typical000 wdyt?

[2016-11-24 12:35] kof commented on #370
This comes from talking to @giuseppeg who's first impression on `border: {width: 1, style: 'solid', color}` i s that its a bit verbose.

I think it comes from being used too much to the shorthands in css.

[2016-11-24 12:36] kof commented on #370
The advantage of using array syntax vs. string is:

1. default units
1. variables without string interpolation

I think we should work in both directions, expanded syntax and simplified (just one array) array syntax.

[2016-11-24 19:26] typical000 commented on #370
Sure, we can add them. With properties like `border` I agree. But what we can do with properties like `transition` ?
Because now we support (this situation is described in docs):
[code]
And, if we add `transition` property to `propArray` we'll drop support of precedent example, but start support of:
[code]
As for me second solution is better. Who want to write an array of long strings? :)
@kof wdy

[2016-11-24 19:26] typical000 commented on #370
I can add those properties:
1. border
2. border-bottom
3. border-left
4. border-top
5. border-right
6. box-shadow
7. flex (Need to add to jss-default-unit too)
8. outline
9. text-shadow
10. transform (Need to add to jss-default-unit too)
11. transition (Need to add to jss-default-unit too)

[2016-11-24 19:34] typical000 commented on #365
Think that we can close this, because there is nothing in our discussion common with jss-expand :)

[2016-11-24 19:43] typical000 commented on #370
Added PR https://github.com/cssinjs/jss-expand/pull/14

[2016-11-24 23:21] kof commented on #324
Nevermind. Decided to leave it in one until it is a real use case.

[2016-11-27 18:58] nathanmarks commented on #356
@cvle

We definitely need to append new variations of rules. We shouldn't be replacing existing since as you rightly mentioned, it will change the look/feel for all instances.

[2016-11-28 22:00] liveresume opened #372 "React - Passing down wrapper classes css specificity issue"
It seems like we cannot pass down wrapper classes from parent to child because of CSS specificity. In particular, when multiple classes are specified on a component with equal properties, classes that come later in the stylesheet override those before it.

So this is not possible:

[code]

The parentStyles are added to the stylesheet before the buttonStyles.  So the button will turn out to be red

[2016-11-29 08:12] kof commented on #372
you can specify an [index option](https://github.com/cssinjs/jss/blob/master/docs/js-api.md#attach-style-sheets-in-a-specific-order)

[2016-11-30 14:30] kof commented on #334
This one is also important when used together with jss-isolate, to avoid isolation of pseudo rules.

[2016-12-01 19:32] liveresume commented on #372
@kof I saw that but it would require keeping track of how deep the component is wrt to other injectors.  I realized that while componentWillMount works from parent to child, componentDidMount goes the other way.  So I moved the attach() to cdm and this solved the issue.  Although I think in some cases this might not work.

I like the idea of attaching when css(...) is called like in Aphrodite, whi

[2016-12-01 20:30] kof commented on #372
Do you see something Aphrodite can do but aphrodisiac can't?

[2016-12-01 20:35] kof commented on #372
You just need to define one lever higher index in the child than in the parent. But I assume in your situation you don't know what index parent has, right?

You may get a FUC in this case, because DOM will be rendered faster than the sheet.

[2016-12-02 09:19] kof commented on #370
merged

[2016-12-02 09:19] #370 closed

[2016-12-02 09:21] #365 closed

[2016-12-02 09:23] kof commented on #349
Closing this in favor of #347 and using createShash(meta + rule.name + stylesStr) to generate an id.

[2016-12-02 09:23] #349 closed

[2016-12-02 09:28] kof commented on #301
Recently @kentcdodds tweeted he workaround this with `ln -s node_modules/n_modules` https://twitter.com/kentcdodds/status/803980884026146816   ... opinions?

[2016-12-02 09:38] kof commented on #56
Closing this for now, until specific ideas arise.

[2016-12-02 09:38] #56 closed

[2016-12-02 09:43] kof commented on #233
Not sure what to do here @cvle

[2016-12-02 14:06] kentcdodds commented on #301
Send like the problem here isn't related to covering node_modules but in getting coverage working with karma and ES6. Have you tried babel-plugin-__coverage__?

I cover this in [my Frontend Masters Webpack workshop](http://kcd.im/fem-webpack) ([here's the diff](https://github.com/kentcdodds/es6-todomvc/compare/FEM/02.2-add-webpack...FEM/02.3-add-coverage)) and in [my Egghead course](http://kcd.im/

[2016-12-02 17:50] cvle commented on #233
This fiddle shows a possible solution: http://jsfiddle.net/leaverou/Pmn8m/. It mounts an div element to the dom tree and inserts a style element with the selector to be checked and removes it thereafter.

I tested it on current browsers (chrome, safari, ie and firefox) and it was working well. Don't know if this works in older browsers. The one issue I found was that webkit and blink browsers alwa

[2016-12-02 21:16] kof commented on #233
Well the question is how to do that with jss-nested syntax, because those can be any global selectors. It can be done at least for a separate [jss-pseudo](https://github.com/cssinjs/jss/issues/334) plugin.

[2016-12-03 05:18] cvle commented on #233
Can you explain more on the problem with the jss-nested syntax?

[2016-12-03 05:50] cvle commented on #233
The big issue I see is that there seems to be no way to fully detect pseudo-element support in webkit-based browsers as they accept any pseudo-element with a prefix. So we can detect that a given unprefixed selector is supported but not if prefixing it will be supported.

[2016-12-03 07:56] kof commented on #233
Stuff like that: '&:hover .button, &:focus .something' ...

Also the question is what does static prefixer in those cases.

[2016-12-03 16:10] cvle commented on #233
Seems like they are struggling whether or not to add support for prefixing selectors  https://github.com/rofrischmann/inline-style-prefixer/issues/104.

Currently there is only one selector worth prefixing which is the `::placeholder` pseudo-element. We can easily use a regexp to target this one for now. We just have to agree on how to implement this in [css-vendor](https://github.com/cssinjs/css-

[2016-12-03 16:35] cvle commented on #233
I was wrong. Scanning autoprefixer they currently have prefix support for the following selectors:

[code]

@kof Can we use regexp to extract this pseudo classes and elements from the selectors for prefixing? Do you see any issues?

[2016-12-04 10:29] typical000 opened #374 "[jss-compose] Conflict with other plugins"
Suppose we use order as here https://github.com/cssinjs/jss/blob/master/docs/plugins.md
We write such code:
[code]
And, as result we receive browser warining:

.linkActiveNoChildren-3174634915 {
    composes: $linkNoChildren,$linkActive;
}

But, instead of warning jss-compose must generate classes like `this.props.sheet.linkActiveNoChildren === 'linkNoChildren-2021460718 link-2652749541 linkActive

[2016-12-04 10:40] kof commented on #374
Can you show the full sheet you are using?

[2016-12-04 11:24] typical000 commented on #374
[code]

[2016-12-04 11:32] kof commented on #374
Looks like it should work, need to try out.

[2016-12-04 11:43] typical000 commented on #374
Removed all unused stuff. This code throws in repl the same warning:
[code]
In console:

.linkActiveNoChildren-3174634915 {
  composes: $linkNoChildren,$linkActive;
}

[2016-12-04 13:20] kof opened #375 "Flowtype definitions JSON DSL"
We have actually CSSOM types, which we can use to provide the JSON types for JSS. https://github.com/facebook/flow/blob/master/lib/cssom.js#L70

[2016-12-04 20:44] trusktr commented on #366
I guess this is a good question: which is more preferable?

1. Generating one `<style>` element per shadow root so that all elements in all roots are styled, or
1. Applying styles to each element instance via `style` attribute without having to consider shadow roots.

In both cases, the elements I wish to style are custom elements of my library, and the JSS styles are handled within those classes.

[2016-12-04 20:45] trusktr commented on #366
Seems like option 1 performs better, while option 2 is easier to code and maintain.

[2016-12-04 21:03] typical000 commented on #78
@kof I have just created in those days repo for our landing page. You can view here:
https://github.com/typical000/jss-landing
and see published example here:
https://typical000.github.io/jss-landing

#### Short info about

1. Build entirely with react, jss, and react-jss
2. All pages structure is generated by simple config https://github.com/typical000/jss-landing/blob/master/src/pages.json . In

[2016-12-04 21:26] kof commented on #78
Wow, you did a huge work over there!

I think a separate repository "landing" is better

I think its easier and better to fix such links after downloading the md file

Is already fixed in the branch I am working on and will be released very soon.

agreed

agreed

Maybe we should render them inside of an iframe?

[2016-12-04 21:27] kof commented on #78
cc @okonet

[2016-12-04 21:40] kof commented on #78
Some feedback:

- navigation scrolling doesn't feels right, I would make the entire sidebar scrollbar
- logo text position is a bit different in the [original design](https://github.com/cssinjs/logo)
- what is this white arrow in the navigation on the "JSS Plugins" menu?
- I would recommend [this](https://github.com/markdown-it/markdown-it) markdown parser, its the best
- We can use jss-preset-def

[2016-12-04 22:00] typical000 commented on #78
Hm... If we put it in separated repo url will be https://cssinjs.github.io/landing it's ok? Or are you planing to buy unique domain like jss.io?

Maybe. I'll try soon

Huh. Personally - I don't like iframes. Don't know for now, need to think a better solution.
Let's think about examples in separated issue https://github.com/cssinjs/jss/issues/93

As you wish)))

You mean parallax-moving logo? Yes.

[2016-12-04 23:04] typical000 commented on #78
* Entire sidebar scrollbar - **DONE**
* Handle internal links like `./performance.md` - **DONE**
* Handle internal links with `external` property - **DONE**

[2016-12-05 22:58] typical000 commented on #78
Published normalize as separated package - https://github.com/typical000/jss-normalize

[2016-12-06 03:53] sam-robinson opened #376 "[jss-expand] jss-expand interferes with jss-compose"
Loaded the following plugins in order:

`jss-expand`
`jss-compose`

using the example in jss-compose:
`// ... previous stuff snipped`
`buttonDisabled: {`
`    composes: ['$button', '$active', '$disabled']`
`}`

the following warning is produced

`Warning: [JSS] Referenced rule is not defined.`
`    .buttonDisabled-1815716550 {`
`        composes: $button,$active,$disabled;`
`    }`

[2016-12-06 04:21] sam-robinson commented on #376
arg, sorry didn't see [https://github.com/cssinjs/jss/issues/374](https://github.com/cssinjs/jss/issues/374)

[2016-12-06 07:34] #376 closed

[2016-12-06 07:41] awestroke commented on #338
A fix is pushed but no new version is released, so this is still an issue.

[2016-12-06 17:08] jedwards1211 opened #377 "global and local plugin configs when using 3rd party components that rely on JSS"
I've been thinking about other problems that using JSS in library components poses, as I start writing my own npm packages that use JSS.

One example is vendor prefixing; a 3rd party component should probably allow external app code to apply vendor prefixing.  But in the current design, if a 3rd party component sets up a `jss` instance without `jss-vendor-prefixer`, its styles won't get prefixed n

[2016-12-06 21:00] typical000 commented on #374
https://github.com/cssinjs/jss-preset-default/pull/4
https://github.com/cssinjs/jss/pull/378
Here is the fix

[2016-12-06 21:10] typical000 commented on #374
Mybe we need some single test inside jss main repo that includes all plugins together? Creating this test we will avoid such bugs, i think

[2016-12-06 21:13] kof commented on #374
Definitely, we need to design all test scenarios which involve all plugins!

[2016-12-06 21:14] kof commented on #374
But first things first, lets release the site, finish the jss-global, then do this.

[2016-12-06 21:14] typical000 commented on #374
yeah. Agree. Lets add todo)

[2016-12-06 21:28] kof commented on #377
Why?

[2016-12-06 21:28] kof commented on #377
I think a component should be self-contained, which means it should work as-is if rendered on the page.

[2016-12-06 21:46] jedwards1211 commented on #377
@kof I would think that the app creator would want to be in control of prefixing so that they don't have to add prefixes for any browsers they don't support, and so that 3rd party comps don't have to worry about it

[2016-12-06 21:55] jedwards1211 commented on #377
but maybe I'm overthinking this

[2016-12-06 22:33] typical000 commented on #78
@kof Are you ok if I do this things through Github web interface directly:
* > Change headings to right ones (e.g. on some pages there are a lot of H2, like here)
* > Remove from plugin pages JSS logo.

Because doing pull requests for all this small fixes, I think, it will be a mess :)

[2016-12-06 23:07] kof commented on #377
You make an assumption here that there is a difference in terms of vendor prefixing to support all browsers. The runtime vendor prefixer currently works for all and will be much better very soon, we are refactoring it right now. When you are talking about static vendor prefixing serverside, you are right, thoguh you are talking about a bunch of css props which you would want to optimize out. I thi

[2016-12-06 23:11] kof commented on #78
yeah such small thinks is ok)

[2016-12-07 01:37] jedwards1211 commented on #377
Makes sense, thanks!

[2016-12-07 01:37] #377 closed

[2016-12-07 01:41] kof commented on #377
If you have spare time let me know on gitter, we have a bunch of important issues to solve!

[2016-12-07 11:13] PepijnSenders opened #379 "Rehydration"
Hey guys, was wondering why you guys don't implement client rehydration like [Aphrodite](https://github.com/Khan/aphrodite#server-side-rendering) and [Glamor](https://github.com/threepointone/glamor/blob/master/docs/server.md) do?

Quoting from your documentation:

Isn't this a bit wasteful, since all the CSS is already generated?

[2016-12-07 11:17] kof commented on #379
You mean we should not generate CSS from JSS if website has been loaded  with CSS already?

[2016-12-07 11:18] PepijnSenders commented on #379
Yes, since it has already been generated by JSS on the back-end.

[2016-12-07 11:19] kof commented on #379
That would mean we need to parse the generated CSS and bootstrap all the models into JSS, basically same like react does it. Otherwise models are out of sync.

[2016-12-07 11:20] kof commented on #379
I am not sure what other libs do in that case, but they may do this because they don't have models, they simply generate css?

[2016-12-07 11:20] kof commented on #379
Also I am not aware of any perf. bottlenecks in case of regeneration of CSS the way we do it now.

[2016-12-07 11:21] PepijnSenders commented on #379
Yeah me neither, not sure how CSS takes care of that in the browser, but I can imagine if you have a lot of styles doing the same regeneration again for all the components is a bit wasteful. Don't you think?

[2016-12-07 11:22] kof commented on #379
From what I know, you are talking about 5ms in the most cases. CSSOM is not a perf bottleneck like dom.

[2016-12-07 11:23] PepijnSenders commented on #379
I think aphrodite and glamor both keep an array of the edited ID's when creating the classNames. They also both require the ReactDOM to be rendered at the same time as the CSS. So this way they are sure nothing will be rendered outside of that scope.

[2016-12-07 11:23] PepijnSenders commented on #379
Yeah I'm not that worried about CSSOM, the JS bottleneck was what kinda worried me. But yeah probably we're talking about miliseconds here.

[2016-12-07 11:24] PepijnSenders commented on #379
Probably a good idea to investigate and maybe make a note on it in the documentation?

[2016-12-07 11:24] kof commented on #379
I think we should invest time into it once someone has a prob. We have a lot of critical issues.

[2016-12-07 11:25] kof commented on #379
If you want to take a deep look into it I am always happy to help and improve if needed.

[2016-12-07 11:25] #379 closed

[2016-12-07 11:26] kof commented on #379
Also if you are looking to contribute, take a look at the issues with important label.

[2016-12-07 11:27] PepijnSenders commented on #379
👍

[2016-12-07 21:14] typical000 commented on #78
Removed JSS logo from plugins pages, changed headings. Tomorrow I'll transfer site to cssinjss org (name will be just "landing").

The last things what we need to be solve:
1. Try to use [markdown-it](https://github.com/markdown-it/markdown-it)
2. Example section. But we can do it as separated [issue](https://github.com/cssinjs/jss/issues/93) later, and publish stable version if examples as they a

[2016-12-07 23:46] kof commented on #78
maybe instead of "landing" - "site"?

[2016-12-07 23:48] kof commented on #78
And here is react integration for markdown-it parser https://github.com/alexkuz/markdown-react-js

[2016-12-08 03:58] kof commented on #374
this is done I believe.

[2016-12-08 03:58] #374 closed

[2016-12-08 13:57] PepijnSenders commented on #364
FYI: https://engineering.hellofresh.com/the-css-in-js-battle-89c34a7a83ea#.igooociw6 😄

[2016-12-08 21:27] typical000 commented on #78
Just tried to use [markdown-react-js](https://github.com/alexkuz/markdown-react-js) and quick feedback:
1. Troubles with [rendering images](https://github.com/alexkuz/markdown-react-js/issues/5). But not just 'warnings' but empty rendered content
2. Fail in rendering "Gitter" and other links with images (`[![Gitter](https://badges.gitter.im/Join Chat.svg)](https://gitter.im/cssinjs/lobby)`)
3. Bun

[2016-12-08 21:27] typical000 commented on #78
And transfered repo https://github.com/cssinjs/site
@kof can you enable static site for this repo? I have no access to 'settings' tab :)

[2016-12-08 21:28] typical000 commented on #78
Ah. I'ts already generated) https://cssinjs.github.io/site/

[2016-12-08 21:32] kof commented on #78
hmm it seems to be enabled https://cssinjs.github.io/site

[2016-12-08 22:07] kof commented on #78
just bought cssinjs.org and installed, in a few minutes it should work.

[2016-12-08 22:08] kof commented on #78
Ah it does now.

[2016-12-08 22:16] kof commented on #78
I will review soon the site to see what else should be improved before we can announce it.

[2016-12-09 11:32] kof commented on #78
After I bought the domain I found out that we can have cssinjs.github.io, which is actually also nice, because there is no dependency to external domain provider. We just need to rename "site" repository to "cssinjs" for it. But yeah as I bought cssinjs.org now its probably still nicer.

[2016-12-09 18:33] jcheroske commented on #170
Had this exact question today, and this was precisely the expert validation I needed. Perhaps this could be moved into the docs somewhere?

[2016-12-10 10:36] kof opened #380 "[jss-nested] nesting inside of jss-global block"
[code]

[2016-12-10 10:44] kof commented on #363
Ok now on it.

[2016-12-10 11:22] kof opened #381 "[jss-nested] move nested conditionals to the core"
I think it was a bad idea, because jss-nested should only handle things which are prefixed by '&', not just any nesting. It is inconsistent now, because @global from jss-global can also be nested.

[2016-12-10 11:53] kof commented on #363
Strange, it just works right now.

[2016-12-10 11:55] kof commented on #363
Ok got it reproduced.

[2016-12-10 13:31] kof commented on #363
Latest jss doesn't throw any more, so it renders already. The only bug now is the warning, which I am fixing now

[2016-12-10 13:31] kof commented on #363
And then releasing a new aphrodisiac version.

[2016-12-10 14:11] kof commented on #363
fixed and released

[2016-12-10 14:11] #363 closed

[2016-12-10 14:13] kof commented on #324
Released

[2016-12-10 14:13] #324 closed

[2016-12-10 14:15] kof commented on #360
As we exported SheetsRegistry now next step is react-jss changes. I assume we are done for jss core.

[2016-12-10 14:15] #360 closed

[2016-12-10 17:46] jedwards1211 commented on #360
Awesome, thanks!

[2016-12-10 17:47] typical000 commented on #380
When this bug will be fixed, I'll update https://github.com/cssinjs/site to latest jss version and plugins.

[2016-12-10 22:12] kof commented on #381
wdyt @nathanmarks

[2016-12-10 22:26] typical000 opened #382 "[jss-nested] after updating up to jss 6.0.0 plugin is totally broken"
Prerequisites: using last jss + jss-preset-default
This code:
[code]

With JSS 6.0.0 and upper output is:
[code]

And with JSS under 6.0.0 output is:
[code]

[2016-12-10 22:27] kof commented on #382
Checking…

[2016-12-10 22:44] kof commented on #382
We have actually a  bunch of tests in jss-nested, I don't see how this is possible, are you sure you updated jss __and__ presets?

[2016-12-10 22:50] kof commented on #382
Can you submit a failing test in jss-nested repo?

[2016-12-10 23:03] kof commented on #382
I think you messed up your local setup somehow, wrong versions or something, I tried 6.0 on a big code base and tried your example in the repl, not reproducible. Closing for know. Let me know if it is still a problem.

[2016-12-10 23:03] #382 closed

[2016-12-10 23:23] kof commented on #78
A cool idea is to add an "edit" button to every page with the proper link, like webpack https://webpack.js.org/configuration/

[2016-12-10 23:53] typical000 commented on #78
About "edit" button - cool idea. I'll add it!

[2016-12-10 23:53] typical000 commented on #78
Anyway - updated dependencies and added jss-global to list of plugins on main site

[2016-12-11 01:34] kof commented on #342
you left polyfill: true, currently its not polyfilling, so you added stuff, thats the reason maybe?

[2016-12-11 03:59] cvle commented on #381
My points on this:

- We should limit nestings only to [Conditional Group Rules](https://developer.mozilla.org/en/docs/Web/CSS/At-rule#Conditional_Group_Rules). It doesn't make sense to nest every at-rule.

- To keep the core simple, I think as long as this can be reasonably implemented in a plugin, we should do it in a plugin. As nesting selectors and nesting conditional groups are clearly separa

[2016-12-11 11:27] kof commented on #381
+1 on not moving nested @media to the core, mainly because it actually has a some perf overhead and core should become faster, not slower.
If we split jss-nested in those 2 , then I would need to make jss-global also 2 because it has also top level and nested implementation.

[2016-12-11 11:29] kof commented on #381
To not to produce too many repositories, maybe this spliting should be inside of one repository, default export would combine 2 plugins, then user can additionally import each plugin separately.

[2016-12-11 11:30] kof commented on #381
But then I am still not sure about general philosophy, what do we call nested, everything that does nesting or just things prefixed by &. What is it in other libs/frameworks like sass and co?

[2016-12-11 11:31] kof commented on #381
If we call everything that is declared inside of one rule as "nested", then I would need to move the nesting part of jss-global to jss-nested package as well.

[2016-12-11 13:57] nathanmarks commented on #381
I think we should avoid creating to many different plugins. Here's some questions to consider:

1. What makes sense / feels right as a **user**? What do you expected `jss-nested` to include?

2. What is the perf overhead of nesting if the feature isn't used?

3. How can we avoid duplicating the same functionality? This may mean that the abstraction needs some adjustment.

4. Is `nested-selectors`

[2016-12-11 20:09] typical000 commented on #78
@kof Added "edit" link

[2016-12-11 23:55] kof commented on #347
merged

[2016-12-11 23:55] #347 closed

[2016-12-11 23:57] kof commented on #342
I was trying to add https://babeljs.io/docs/plugins/external-helpers/ ... still can't figure out a good way for  injecting babelHelpers  into the build.

[2016-12-12 06:26] umidbekkarimov commented on #342
@kof how do you want to inject it ?

[2016-12-12 07:02] umidbekkarimov commented on #342
For `umd` you can "prebuild" `helpers.js` file and add it as webpack entry

For `lib` - you will have to repeat steps that `babel-transform-runtime` already does for you

[2016-12-12 09:37] kof commented on #342
For umd it should be inlined in the build I suppose. For the lib - should be a dependency from node_modules, so that its reused across all projects.

[2016-12-12 09:38] kof commented on #342
I wonder why its so complex to set up or what we need to use to make it simple.

[2016-12-12 13:08] kof opened #384 "Rules caching"
As we actually have hashes, we can effectively cache the rules. It will have some perf. benefit and will look great at the benchmarks, when competing with atomic rendering, which basically does the caching.

The only downside I can think of is that you can't dynamically modify rules if the caching is on. Because it will modify not just one particular rule.

[2016-12-13 11:57] kof commented on #384
Actually we know which rules can't be cached, its the rules which have `link: true` option. So we can actually cache them always unless that option is passed.

[2016-12-13 12:00] kof commented on #384
Will see soon how much improvement that is, because JSON.stringify and createHash needs to be done anyways in order to identify the rule. Unless we put a field on it like `__jssHash__` or something so that if its static and reused, we can cut even this.

[2016-12-13 23:37] kof commented on #301
Maybe it would be much simpler to just add coverage for jss itself here and for all other repositories separately in the corresponding repository the same way. Should be easy, right?

[2016-12-14 00:00] kof commented on #380
Fixed locally, just finalizing for release.

[2016-12-14 00:00] kof commented on #380
Along the way made some perf improvements (20-30%)

[2016-12-14 06:50] umidbekkarimov commented on #301
Basically jss needs plugins to transform stylesheets. So you only need to test actual and expected code. e.g.

[code]
And you don't need browser for it.

JSS needs `karma` only to test style injection AFAIK all other use cases can be solved inside node.

[2016-12-14 07:01] umidbekkarimov commented on #342
For that we have [transform-runtime](https://babeljs.io/docs/plugins/transform-runtime),

So as I said before - my suggestion is:
* For `lib` use  [transform-runtime](https://babeljs.io/docs/plugins/transform-runtime) with `{polyfill: false, regenerator: false}`
* For `umd` use  [external-helpers](https://babeljs.io/docs/plugins/external-helpers) with `global.babelHelpers = require("babel-core").b

[2016-12-14 07:04] umidbekkarimov commented on #342
I can create PR tonight, but don't expect "big" size changes

[2016-12-14 07:09] umidbekkarimov commented on #342
Also take a look at [this](https://medium.com/modus-create-front-end-development/optimize-es6-output-size-performance-ninja-tricks-included-d4fc2d313f66) blog post to understand how bundle size depends on code style

[2016-12-14 09:12] kof commented on #301
Well if I use karma in one case, why to use something else additionally, seems like an overhead. And no, plugins do in some cases way more than transforming style object.

[2016-12-14 09:15] kof commented on #342
That would mean that you attach babelHelpers object to the window in the browser. Thats ugly.  I think it should be inlined for the umd.

[2016-12-14 09:16] kof commented on #342
Also the prob with external-helpers is that we need to manually define what we use and I don't want to maintain this list and also I don't want the full helpers package to be loaded, its too big.

[2016-12-15 00:10] liveresume commented on #372
Turns out my cdm approach broke for a special case as I had feared.  Switched it to pass nested level down via context, and use the negative of that value as jss index.  Works perfect so far.

[2016-12-15 08:56] kof commented on #372
Can you give me an example how you do this?

[2016-12-15 09:46] cvle commented on #78
@typical000 Its better not to point to the edit feature directly because it is only available to logged in users.

E.g. currently you do:
https://github.com/cssinjs/jss/edit/master/docs/benefits.md

We should change it to:
https://github.com/cssinjs/jss/blob/master/docs/benefits.md